Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

security: fix GitHub Actions shell injection vulnerabilities
  .github/actions/smart-deploy/action.yml
Due: semgrep

security: fix container image security vulnerabilities
  containers/Dockerfile.template
  containers/content-collector/Dockerfile
  containers/content-processor/Dockerfile
  containers/site-generator/Dockerfile
Due: none

fix: resolve Python stack trace exposure vulnerabilities
  containers/content-collector/discovery.py
  containers/content-collector/endpoints/servicebus_router.py
  containers/content-processor/content_generation.py
  containers/content-processor/endpoints.py
  containers/content-processor/endpoints/servicebus_router.py
  containers/content-processor/external_api_client.py
  containers/content-processor/processing_service.py
  containers/site-generator/content_manager.py
  containers/site-generator/file_operations.py
  containers/site-generator/markdown_service.py
  containers/site-generator/servicebus_router.py
  containers/site-generator/site_service.py
Due: semgrep

fix(tests): update error message assertions for security-hardened error handling
  containers/site-generator/tests/test_file_operations.py
Due: semgrep

fix(security): eliminate all references to sensitive endpoints variable in logging
  containers/content-processor/external_api_client.py
Due: semgrep

fix(security): completely separate region logging from sensitive endpoints data
  containers/content-processor/external_api_client.py
Due: semgrep

fix(security): resolve Semgrep findings with proper ignore comments and expiration dates
  infra/main.tf
  scripts/test-azure-ad-auth.sh
Due: terraform-quality, semgrep

fix: resolve security alerts and remove unused scheduler infrastructure
  docs/SCHEDULER_REMOVAL_PLAN.md
  docs/SECURITY_ALERTS_RESOLUTION.md
  infra/main.tf
  infra/outputs.tf
  infra/scheduler.tf
Due: terraform-quality, semgrep

fix: resolve security alerts with appropriate skip comments
  docs/SECURITY_ALERTS_RESOLUTION.md
  infra/main.tf
Due: terraform-quality, semgrep

Implement automated mTLS setup with Let's Encrypt and Dapr
  docs/MTLS_DEPLOYMENT_GUIDE.md
  infra/certificate_automation.tf
  infra/certificate_management.tf
  infra/certificate_monitoring.tf
  infra/container_apps.tf
  infra/container_apps_dapr.tf
  infra/dapr_mtls.tf
  infra/variables.tf
  scripts/certificate-management.sh
  scripts/test-mtls-integration.sh
  tests/test_mtls_implementation.py
Due: terraform-quality, semgrep

feat: implement comprehensive PKI infrastructure with mTLS and KEDA integration
  containers/content-collector/endpoints/keda_router.py
  containers/content-collector/enhanced_health.py
  containers/content-processor/enhanced_health.py
  containers/site-generator/enhanced_health.py
  docs/DAPR_MIGRATION_STRATEGY.md
  docs/DNS_PERMISSIONS_SETUP_COMPLETE.md
  docs/KEDA_DAPR_MTLS_IMPLEMENTATION_PLAN.md
  docs/MTLS_HEALTH_INTEGRATION.md
  docs/MTLS_TESTING_ROADMAP.md
  docs/MTLS_TESTING_SUMMARY.md
  docs/MTLS_VALIDATION_PLAN.md
  docs/PKI_DEPLOYMENT_STRATEGY.md
  docs/PKI_JABLAB_DEV_ONLY_SUMMARY.md
  docs/PR_RATIONALIZATION_SUMMARY.md
  infra/development.tfvars
  infra/keda_dapr_integration.tf
  infra/pki_infrastructure.tf
  infra/providers.tf
  infra/terraform.tfvars.example
  infra/variables.tf
  libs/keda_dapr_integration.py
  libs/mtls_health.py
  libs/mtls_integration.py
  libs/servicebus_migration.py
  scripts/deploy-pki-infrastructure.sh
  scripts/discover-dns-zones.sh
  scripts/pki-certificate-manager.sh
  scripts/quick-mtls-validation.sh
  scripts/validate-mtls-implementation.py
  tests/test_mtls_implementation.py
Due: terraform-quality, semgrep

fix: always run terraform deployment for reliable infrastructure state management
  .github/actions/smart-deploy/action.yml
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix: Terraform configuration issues for deployment
  docs/CICD_PIPELINE_FIX_TERRAFORM_ALWAYS.md
  infra/container_apps_dapr.tf
  infra/development.tfvars
  infra/keda_dapr_integration.tf
Due: terraform-quality, semgrep

fix: resolve all Terraform validation errors for deployment
  infra/container_apps_dapr.tf
  infra/keda_dapr_integration.tf
Due: terraform-quality, semgrep

fix: remove invalid concat from depends_on block
  infra/keda_dapr_integration.tf
Due: terraform-quality, semgrep

fix: resolve name validation errors for Azure resources
  infra/certificate_monitoring.tf
  infra/keda_dapr_integration.tf
Due: terraform-quality, semgrep

fix: improve terraform deployment logic to properly handle plan exit codes
  .github/actions/smart-deploy/action.yml
Due: semgrep

fix: remove redundant terraform plan call that may interfere with exit codes
  .github/actions/smart-deploy/action.yml
Due: semgrep

debug: Add comprehensive terraform exit code debugging
  .github/actions/smart-deploy/action.yml
Due: semgrep

debug: Simplify terraform exit code capture and add pipefail handling
  .github/actions/smart-deploy/action.yml
Due: semgrep

fix: Simplify terraform deployment to use apply --auto-approve directly
  .github/actions/smart-deploy/action.yml
Due: semgrep

fix: Temporarily allow all Key Vault access during initial deployment
  infra/main.tf
Due: terraform-quality, semgrep

fix: Replace invalid azure-cosmosdb KEDA scaler with Service Bus queue
  infra/keda_dapr_integration.tf
Due: terraform-quality, semgrep

fix: Resolve Dapr component and monitor diagnostic configuration issues
  infra/dapr_mtls.tf
  infra/keda_dapr_integration.tf
  infra/main.tf
Due: terraform-quality, semgrep

fix: Temporarily disable Storage Account diagnostic settings
  infra/main.tf
Due: terraform-quality, semgrep

refactor: Migrate to jablab.dev domain and improve infrastructure organization
  .secrets.baseline
  infra/certificate_automation.tf
  infra/certificate_management.tf
  infra/certificate_monitoring.tf
  infra/container_apps.tf
  infra/dapr_mtls.tf
  infra/main.tf
  infra/outputs.tf
  infra/variables.tf
Due: terraform-quality, semgrep

chore: Trigger deployment after releasing Terraform state lock
  .github/README.md
Due: none

chore: Retry deployment after removing resource group lock
  .github/README.md
Due: none

fix: resolve deployment issues with DNS zones, budget dates, and webhook URLs
  infra/certificate_management.tf
  infra/certificate_monitoring.tf
  infra/cost_monitoring.tf
Due: terraform-quality, semgrep

fix: resolve monitoring configuration errors
  infra/certificate_automation.tf
  infra/certificate_monitoring.tf
Due: terraform-quality, semgrep

fix: update Dapr image to 1.14.4 and fix monitoring alert configurations
  infra/keda_dapr_integration.tf
Due: terraform-quality, semgrep

fix: resolve deployment blockers and clean up infrastructure
  infra/certificate_automation.tf
  infra/certificate_monitoring.tf
  infra/keda_dapr_integration.tf
  infra/main.tf
Due: terraform-quality, semgrep

Fix deployment issues: update Dapr version and temporarily disable DNS record
  infra/certificate_management.tf
  infra/container_apps_dapr.tf
  infra/keda_dapr_integration.tf
Due: terraform-quality, semgrep

Fix Dapr app ID conflicts and test parallel pipeline
  .github/actions/sync-container-versions/action.yml
  .github/workflows/cicd-pipeline.yml
  infra/container_apps_dapr.tf
Due: terraform-quality, actionlint, semgrep

Fix pipeline for true parallel container and infrastructure tracks
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

ci: optimize pipeline dependencies for faster execution
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix: remove shared dependencies causing build-containers to wait for deploy
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix: remove container dependencies from deploy to enable true parallel execution
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

infra: Strip DAPR/mTLS for optimal scale-to-zero architecture
  .secrets.baseline
  infra/certificate_automation.tf
  infra/certificate_management.tf
  infra/certificate_monitoring.tf
  infra/container_apps.tf
  infra/container_apps_dapr.tf
  infra/dapr_mtls.tf
  infra/keda_dapr_integration.tf
  infra/pki_infrastructure.tf
  infra/variables.tf
Due: terraform-quality, semgrep

refactor: Clean up providers and remove experimental AzAPI spike
  infra/providers.tf
Due: terraform-quality, semgrep

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
