Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: '^(.github/.*|.*\.template\.yml)$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs

  # Python code quality using our shared script
  - repo: local
    hooks:
      - id: python-code-quality
        name: Python Code Quality (Black + isort + flake8)
        entry: ./scripts/code-quality.sh
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Terraform formatting and validation
  - repo: local
    hooks:
      - id: terraform-quality
        name: Terraform Quality (Format + Validate)
        entry: ./scripts/terraform-quality.sh
        language: system
        files: '\.tf$'
        pass_filenames: false
        always_run: false
        require_serial: true

  # GitHub Actions linting
  - repo: local
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflows
        entry: ./scripts/actionlint-docker.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
        pass_filenames: true

  # YAML linting (excluding GitHub Actions which are handled above)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: '^\.github/workflows/.*\.ya?ml$'
        args: ['-d', 'relaxed']

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(tests/.*|.*\.lock|.*\.log)$'

  # Semgrep security scanning (blocking)
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep Security Scan
        entry: ./scripts/run-semgrep-precommit.sh
        language: system
        files: '\.(py|tf|yml|yaml|js|ts|json)$'
        pass_filenames: false

# Configuration for ci (optional, for pre-commit.ci service)
ci:
  autoupdate_schedule: weekly
  skip: [python-code-quality, actionlint, terraform-quality, semgrep]  # Skip local hooks on CI

Enable Log Analytics for Container Apps with 30-day retention
  infra/container_environment.tf
  infra/monitoring.tf
Due: terraform-quality, semgrep

feat(monitoring): Add Application Insights integration to all containers
  containers/content-collector/main.py
  containers/content-processor/main.py
  containers/markdown-generator/main.py
  containers/site-publisher/app.py
  infra/container_app_collector.tf
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
  libs/monitoring/__init__.py
  libs/monitoring/appinsights.py
  libs/pyproject.toml
Due: terraform-quality, semgrep

Fix content-processor markdown trigger queue issue
  containers/content-processor/core/processor.py
  containers/content-processor/queue_operations_pkg/queue_client_operations.py
Due: semgrep

fix(site-publisher): Add missing azure-monitor-opentelemetry dependency
  containers/site-publisher/requirements.txt
Due: none

Fix KEDA scaling config with retry logic and correct queue lengths
  infra/container_app_markdown_generator.tf
  infra/container_apps_keda_auth.tf
Due: terraform-quality, semgrep

fix(content-processor): convert storage queue router to pure functional API
  containers/content-processor/core/processor.py
  containers/content-processor/endpoints/storage_queue_router.py
  containers/content-processor/main.py
  containers/content-processor/tests/test_processor_integration.py
  containers/content-processor/tests/test_storage_queue_router.py
Due: semgrep

refactor(logging): reduce Application Insights and logging verbosity
  containers/content-processor/endpoints/storage_queue_router.py
  containers/content-processor/main.py
  libs/monitoring/appinsights.py
  scripts/check-log-analytics.sh
Due: semgrep

Restore INFO logging for content processing visibility
  containers/content-processor/endpoints/storage_queue_router.py
  containers/content-processor/main.py
Due: semgrep

Align content-processor to support process_topic operation
  containers/content-processor/endpoints/storage_queue_router.py
  containers/content-processor/tests/test_process_topic_operation.py
Due: semgrep

Fix CRITICAL async/await bug: Use async Azure SDK everywhere
  containers/content-processor/operations/openai_operations.py
  containers/markdown-generator/blob_operations.py
  containers/markdown-generator/main.py
  containers/markdown-generator/markdown_processor.py
  containers/markdown-generator/queue_processor.py
Due: semgrep

Apply black formatting and ruff fixes to async/await changes
  containers/markdown-generator/blob_operations.py
  containers/markdown-generator/main.py
  containers/markdown-generator/markdown_processor.py
  containers/markdown-generator/queue_processor.py
Due: semgrep

Fix async/await issue in markdown-generator
  containers/markdown-generator/markdown_processor.py
  containers/markdown-generator/tests/conftest.py
Due: semgrep

Fix markdown-generator KEDA cooldown and aiohttp session warnings
  containers/markdown-generator/main.py
  containers/markdown-generator/services/image_service.py
  infra/container_app_markdown_generator.tf
  infra/container_apps_keda_auth.tf
Due: terraform-quality, semgrep

refactor: Extract HTTP client to shared utility (DRY principle)
  containers/markdown-generator/main.py
  containers/markdown-generator/services/image_service.py
  libs/http_client.py
  libs/test_http_client.py
Due: semgrep

fix: Close DefaultAzureCredential to prevent aiohttp session leaks
  libs/queue_client.py
  libs/test_queue_client_cleanup.py
Due: semgrep

fix: Add missing post_card.html partial for Hugo site generation
  containers/site-publisher/hugo-config/layouts/partials/post_card.html
Due: none

Fix site-publisher validation, shutdown handling, and test contracts
  containers/site-publisher/hugo_builder.py
  containers/site-publisher/security.py
  containers/site-publisher/site_builder.py
  containers/site-publisher/tests/test_site_builder.py
  docs/SITE_PUBLISHER_COMPLETE_SUMMARY.md
  docs/SITE_PUBLISHER_FIXES_2025-10-16.md
  docs/TEST_IMPROVEMENTS_CONTRACTS_BEHAVIOR.md
Due: semgrep

Remove duplicate validation in deploy_to_web_container
  containers/site-publisher/hugo_builder.py
  containers/site-publisher/tests/test_hugo_builder.py
Due: semgrep

Increase queue visibility timeout to 10 minutes
  libs/queue_client.py
Due: semgrep

Implement idempotent backup strategy for site-publisher
  containers/site-publisher/hugo_builder.py
  containers/site-publisher/site_builder.py
  containers/site-publisher/tests/test_hugo_builder.py
Due: semgrep

Fix: Implement true incremental backup instead of idempotent skip
  containers/site-publisher/hugo_builder.py
  containers/site-publisher/site_builder.py
  containers/site-publisher/tests/test_hugo_builder.py
Due: semgrep

Fix critical site generation issues
  containers/markdown-generator/markdown_generator.py
  containers/markdown-generator/metadata_utils.py
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/tests/test_site_generation_fixes.py
  docs/SITE_GENERATION_FIXES_SUMMARY.md
  docs/SITE_GENERATION_ISSUES.md
Due: semgrep

docs: Update site generation issues with Phase 1 completion and Phase 2 plan
  docs/PHASE_2_IMPLEMENTATION_PLAN.md
  docs/SITE_GENERATION_ISSUES.md
Due: none

docs: Add current status and next steps summary
  docs/CURRENT_STATUS.md
Due: none

docs: Comprehensive AI model cost analysis and unified strategy
  docs/AI_MODEL_COST_ANALYSIS.md
  docs/ARTICLE_MODEL_COMPARISON.md
  docs/PHASE_2_IMPLEMENTATION_PLAN.md
  docs/UNIFIED_MODEL_STRATEGY.md
Due: none

feat(content-processor): Implement AI title generation (Phase 2 Task 1)
  containers/content-processor/operations/metadata_operations.py
  containers/content-processor/operations/title_operations.py
  containers/content-processor/tests/test_title_operations.py
  docs/PHASE_2_IMPLEMENTATION_PLAN.md
Due: semgrep

feat(markdown-generator): Improve stock image selection logic (Phase 2 Task 2)
  containers/markdown-generator/services/image_service.py
  containers/markdown-generator/tests/test_image_service.py
  docs/PHASE_2_IMPLEMENTATION_PLAN.md
Due: semgrep

style: apply Black formatting to test_outcomes.py
  containers/markdown-generator/tests/test_outcomes.py
Due: semgrep

fix(markdown-generator): handle both content field variants in template
  containers/markdown-generator/templates/default.md.j2
Due: none

Address PR review comments: restore Jinja2 whitespace control in loop and re-add markdown link for source footer
  containers/markdown-generator/templates/default.md.j2
Due: none

Fix key points loop formatting per Copilot review: remove trailing dash to preserve newlines between bullet points
  containers/markdown-generator/templates/default.md.j2
Due: none

Fix markdown template rendering and improve test robustness
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/tests/test_outcomes.py
Due: semgrep

Apply pre-commit hooks: Black formatting and isort import sorting
  containers/markdown-generator/tests/test_outcomes.py
Due: semgrep

feat: Fix site rendering issues and add Azure monitoring dashboards
  containers/site-publisher/configure_telemetry.py
  containers/site-publisher/hugo-config/config.toml
  containers/site-publisher/hugo-config/layouts/_default/list.html
  containers/site-publisher/hugo-config/layouts/partials/appinsights-telemetry.html
  containers/site-publisher/hugo-config/layouts/partials/extend_head.html
  containers/site-publisher/hugo-config/static/css/custom.css
  containers/site-publisher/hugo-config/static/js/performance-monitor.js
  containers/site-publisher/site_builder.py
  docs/DASHBOARD_SETUP_GUIDE.md
  docs/DEPLOYMENT_COMPLETE_SUMMARY.md
  docs/PERFORMANCE_MONITORING_GUIDE.md
  docs/PERFORMANCE_MONITORING_QUICK_REFERENCE.md
  docs/QUICK_START_DEPLOY.md
  docs/SITE_FIXES_DEPLOYMENT_SUMMARY.md
  infra/dashboards.tf
Due: terraform-quality, semgrep

docs: Update site generation issues with Phase 2 completion and next steps
  docs/SITE_GENERATION_ISSUES.md
Due: none

docs: Update - AI title generation already implemented in content-processor
  docs/SITE_GENERATION_ISSUES.md
Due: none

docs: Update - stock image selection already improved
  docs/SITE_GENERATION_ISSUES.md
Due: none

docs: Add comprehensive current status summary (Oct 17 2025)
  docs/CURRENT_STATUS_SUMMARY.md
Due: none
