Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: '^(.github/.*|.*\.template\.yml)$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs

  # Python code quality using our shared script
  - repo: local
    hooks:
      - id: python-code-quality
        name: Python Code Quality (Black + isort + flake8)
        entry: ./scripts/code-quality.sh
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Terraform formatting and validation
  - repo: local
    hooks:
      - id: terraform-quality
        name: Terraform Quality (Format + Validate)
        entry: ./scripts/terraform-quality.sh
        language: system
        files: '\.tf$'
        pass_filenames: false
        always_run: false
        require_serial: true

  # GitHub Actions linting
  - repo: local
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflows
        entry: ./scripts/actionlint-docker.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
        pass_filenames: true

  # YAML linting (excluding GitHub Actions which are handled above)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: '^\.github/workflows/.*\.ya?ml$'
        args: ['-d', 'relaxed']

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(tests/.*|.*\.lock|.*\.log)$'

  # Semgrep security scanning (blocking)
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep Security Scan
        entry: ./scripts/run-semgrep-precommit.sh
        language: system
        files: '\.(py|tf|yml|yaml|js|ts|json)$'
        pass_filenames: false

# Configuration for ci (optional, for pre-commit.ci service)
ci:
  autoupdate_schedule: weekly
  skip: [python-code-quality, actionlint, terraform-quality, semgrep]  # Skip local hooks on CI

debug: Add deployment condition debugging
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: Trigger debug deployment conditions
  infra/main.tf
Due: terraform-quality, semgrep

Fix: Remove prepare-deployment references from deploy-infrastructure
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

Test: Terraform change to verify simplified routing
  infra/main.tf
Due: terraform-quality, semgrep

Fix: Handle empty container images in Terraform deployment
  .github/actions/deploy-from-registry/action.yml
Due: semgrep

test: Update test feature flag description to trigger infrastructure deployment
  infra/variables.tf
Due: terraform-quality, semgrep

docs: add large file resolution plan and remove backup file
  containers/content-processor/main_backup.py
  docs/LARGE_FILE_RESOLUTION_PLAN.md
Due: semgrep

feat: add large file cleanup and analysis scripts
  scripts/analyze-large-file-priorities.sh
  scripts/batch-cleanup.sh
  scripts/cleanup-duplicate-large-file-issues.sh
  scripts/simple-cleanup-duplicates.sh
Due: none

ci: update large file detector workflow and secrets baseline
  .github/workflows/large-file-detector.yml
  .secrets.baseline
Due: actionlint, semgrep

Fix collector Key Vault access and standardize API endpoints
  .github/agent-instructions.md
  .secrets.baseline
  README.md
  TODO.md
  containers/content-collector/main.py
  infra/container_apps.tf
Due: terraform-quality, semgrep

Fix collector tests by adding missing service instantiation
  containers/content-collector/main.py
Due: semgrep

Fix: Add missing API endpoints expected by tests
  containers/content-collector/main.py
Due: semgrep

Major refactoring: Content Womble modular architecture
  TODO.md
  containers/content-collector/README.md
  containers/content-collector/__init__.py
  containers/content-collector/collector.py
  containers/content-collector/collectors/__init__.py
  containers/content-collector/collectors/base.py
  containers/content-collector/collectors/reddit.py
  containers/content-collector/collectors/web.py
  containers/content-collector/config.py
  containers/content-collector/conftest.py
  containers/content-collector/content_processing.py
  containers/content-collector/discovery.py
  containers/content-collector/endpoints.py
  containers/content-collector/main.py
  containers/content-collector/models.py
  containers/content-collector/reddit_client.py
  containers/content-collector/service_logic.py
  containers/content-collector/source_collectors.py
  containers/content-collector/tests/conftest.py
  containers/content-collector/tests/contracts/__init__.py
  containers/content-collector/tests/contracts/blob_storage_contract.py
  containers/content-collector/tests/contracts/reddit_api_contract.py
  containers/content-collector/tests/test_collector.py
  containers/content-collector/tests/test_integration.py
  containers/content-collector/tests/test_main.py
  containers/content-collector/tests/test_standardized_api.py
  containers/content-collector/transforms.py
  libs/shared_models.py
Due: semgrep

Fix CI pytest execution - run from container directory
  .github/actions/test-single-container/action.yml
  containers/__init__.py
  containers/content-collector/__init__.py
  containers/content-collector/endpoints.py
  containers/content-collector/tests/test_standardized_api.py
Due: semgrep

feat: Add comprehensive unit tests for content-collector
  containers/content-collector/tests/test_standardized_api.py
Due: semgrep

fix: Improve bearer token handling for Azure storage
  containers/content-collector/endpoints.py
  libs/blob_storage.py
Due: semgrep

Fix bearer token auth and monorepo test execution
  .github/actions/test-single-container/action.yml
  .github/agent-instructions.md
  containers/content-collector/tests/conftest.py
Due: semgrep

Fix Azure SDK list_containers API usage
  libs/blob_storage.py
Due: semgrep

Consolidate to standardized /api/content-womble/health endpoint
  containers/content-collector/endpoints.py
  containers/content-collector/main.py
  containers/content-collector/tests/test_standardized_api.py
Due: semgrep

Improve managed identity authentication for Container Apps
  libs/blob_storage.py
Due: semgrep

Simplify blob storage authentication to match working KeyVault pattern
  libs/blob_storage.py
Due: semgrep

Fix authentication and type safety in blob storage
  libs/blob_storage.py
  libs/shared_models.py
Due: semgrep

Fix blob storage mock mode to work with tests
  libs/blob_storage.py
Due: semgrep

fix: specify user-assigned managed identity client ID for blob storage authentication
  libs/blob_storage.py
Due: semgrep

debug: add comprehensive authentication debugging for workload identity
  libs/blob_storage.py
Due: semgrep

fix: add default values for environment variables
  libs/blob_storage.py
Due: semgrep

feat: try WorkloadIdentityCredential directly for workload identity scenarios
  libs/blob_storage.py
Due: semgrep

Simplify to Container Apps managed identity pattern
  libs/blob_storage.py
Due: semgrep

Fix storage test: create missing 'collected-content' container
  libs/blob_storage.py
Due: semgrep

feat: update role assignments for container identity and add collected-content storage container
  .secrets.baseline
  infra/container_apps.tf
  infra/main.tf
  infra/outputs.tf
Due: terraform-quality, semgrep

Trigger Terraform deployment after removing resource lock
  infra/main.tf
Due: terraform-quality, semgrep

Fix infrastructure dependencies and blob storage logic
  .secrets.baseline
  infra/container_apps.tf
  libs/blob_storage.py
Due: terraform-quality, semgrep

Enhance storage authentication error diagnostics
  libs/blob_storage.py
Due: semgrep

fix: application error handling and trigger infrastructure update
  infra/main.tf
  libs/blob_storage.py
Due: terraform-quality, semgrep

fix: update role assignments for container identity to streamline access permissions
  .secrets.baseline
  infra/container_apps.tf
Due: terraform-quality, semgrep

Fix content-collector managed identity and enhance Reddit API diagnostics
  .secrets.baseline
  containers/content-collector/collectors/reddit.py
  containers/content-collector/endpoints.py
  containers/content-collector/main.py
  containers/content-collector/requirements.txt
  containers/content-collector/source_collectors.py
  infra/container_apps.tf
  infra/main.tf
Due: terraform-quality, semgrep

Fix content-collector managed identity and enhance Reddit API diagnostics
  config/shared-versions.toml
  containers/content-collector/endpoints.py
  infra/container_apps.tf
  infra/main.tf
  infra/networking.tf
Due: terraform-quality, semgrep

Fix content-collector managed identity and enhance Reddit API diagnostics
  .github/actions/safety-config/action.yml
  .secrets.baseline
  config/shared-versions.toml
  infra/container_apps.tf
Due: terraform-quality, semgrep

Fix resource lock dependencies - move to end of main.tf
  .github/actions/safety-config/action.yml
  infra/main.tf
Due: terraform-quality, semgrep

Fix Safety/Typer compatibility with working versions
  config/shared-versions.toml
Due: none
