Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: '^(.github/.*|.*\.template\.yml)$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs

  # Python code quality using our shared script
  - repo: local
    hooks:
      - id: python-code-quality
        name: Python Code Quality (Black + isort + flake8)
        entry: ./scripts/code-quality.sh
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Terraform formatting and validation
  - repo: local
    hooks:
      - id: terraform-quality
        name: Terraform Quality (Format + Validate)
        entry: ./scripts/terraform-quality.sh
        language: system
        files: '\.tf$'
        pass_filenames: false
        always_run: false
        require_serial: true

  # GitHub Actions linting
  - repo: local
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflows
        entry: ./scripts/actionlint-docker.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
        pass_filenames: true

  # YAML linting (excluding GitHub Actions which are handled above)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: '^\.github/workflows/.*\.ya?ml$'
        args: ['-d', 'relaxed']

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(tests/.*|.*\.lock|.*\.log)$'

  # Semgrep security scanning (blocking)
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep Security Scan
        entry: ./scripts/run-semgrep-precommit.sh
        language: system
        files: '\.(py|tf|yml|yaml|js|ts|json)$'
        pass_filenames: false

# Configuration for ci (optional, for pre-commit.ci service)
ci:
  autoupdate_schedule: weekly
  skip: [python-code-quality, actionlint, terraform-quality, semgrep]  # Skip local hooks on CI

fix: resolve Security Scans (Python) and infrastructure deployment issues
  .github/actions/safety-config/action.yml
  config/shared-versions.toml
  infra/networking.tf
Due: terraform-quality, semgrep

refactor: remove redundant Safety Python security scanner
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: trigger full pipeline to verify security and infrastructure fixes
  config/conftest.py
  docker-compose.yml
  infra/networking.tf
Due: terraform-quality, semgrep

fix: temporarily allow all Key Vault access for GitHub Actions compatibility
  infra/main.tf
Due: terraform-quality, semgrep

fix: restore Key Vault security settings after CLI bypass
  infra/main.tf
Due: terraform-quality, semgrep

temp: allow all Key Vault access for GitHub Actions deployment
  infra/main.tf
Due: terraform-quality, semgrep

fix: remove VNet complexity and use public network for Container Apps Consumption
  .secrets.baseline
  infra/container_apps.tf
  infra/main.tf
  infra/networking.tf
Due: terraform-quality, semgrep

Trigger: Pipeline test after network simplification
  infra/main.tf
Due: terraform-quality, semgrep

Fix: Prevent Terraform from overwriting Reddit API secrets
  infra/main.tf
Due: terraform-quality, semgrep

chore: bump content-collector version to force container rebuild
  containers/content-collector/main.py
Due: semgrep

Update TODO.md to reflect current progress
  TODO.md
  infra/README.md
Due: none

feat: unified content processor with clean functional architecture
  containers/content-processor/README.md
  containers/content-processor/api_routes.py
  containers/content-processor/endpoints.py
  containers/content-processor/error_handlers.py
  containers/content-processor/main.py
  containers/content-processor/main_refactored.py
  containers/content-processor/models.py
  containers/content-processor/openai_client.py
  containers/content-processor/processor.py
  containers/content-processor/request_models.py
  containers/content-processor/requirements-prod.txt
  containers/content-processor/requirements-test.txt
  containers/content-processor/requirements-unique.txt
  containers/content-processor/requirements.txt
  containers/content-processor/service_logic.py
  containers/content-processor/tests/__init__.py
  containers/content-processor/tests/contracts/__init__.py
  containers/content-processor/tests/contracts/blob_storage_contract.py
  containers/content-processor/tests/contracts/openai_api_contract.py
  containers/content-processor/tests/test_azure_integration.py
  containers/content-processor/tests/test_clean_implementation.py
  containers/content-processor/tests/test_integration.py
  containers/content-processor/tests/test_main.py
  containers/content-processor/tests/test_phase2b_integration.py
  containers/content-processor/tests/test_pipeline_integration.py
  containers/content-processor/tests/test_processor.py
  containers/content-processor/tests/test_standardized_api.py
Due: semgrep

feat: update all dependencies to latest stable versions
  containers/content-processor/requirements.txt
Due: none

fix: add pytest.mark.integration markers and fix test parameters
  containers/content-processor/tests/test_azure_integration.py
Due: semgrep

Fix integration test failures
  containers/content-processor/tests/test_azure_integration.py
Due: semgrep

feat: separate production and test dependencies
  containers/content-processor/requirements-prod.txt
  containers/content-processor/requirements.txt
Due: none

feat: implement Azure OpenAI managed identity authentication
  containers/content-processor/AZURE_OPENAI_MIGRATION.md
  containers/content-processor/README.md
  containers/content-processor/openai_client.py
  infra/container_apps.tf
Due: terraform-quality, semgrep

Add OpenAI model deployments and container configuration
  docs/AZURE_OPENAI_MIGRATION.md
  infra/container_apps.tf
  infra/main.tf
  infra/outputs.tf
Due: terraform-quality, semgrep

Implement collection reading logic in content processor
  containers/content-processor/processor.py
Due: semgrep

feat: implement real article generation and add missing storage containers
  containers/content-processor/processor.py
  infra/main.tf
  infra/outputs.tf
Due: terraform-quality, semgrep

fix: correct OpenAI model environment variable and fallback
  containers/content-processor/openai_client.py
Due: semgrep

feat: add cost-effective pricing cache system
  containers/content-processor/main.py
  containers/content-processor/openai_client.py
  containers/content-processor/pricing_service.py
  containers/content-processor/requirements-prod.txt
  infra/main.tf
  infra/outputs.tf
Due: terraform-quality, semgrep

fix: resolve async mock warnings in tests
  containers/content-processor/tests/test_azure_integration.py
Due: semgrep

feat: Add Site Generator container and Azure Static Web Apps infrastructure
  .github/workflows/cicd-pipeline.yml
  containers/content-processor/README.md
  containers/site-generator/Dockerfile
  containers/site-generator/README.md
  containers/site-generator/config.py
  containers/site-generator/main.py
  containers/site-generator/models.py
  containers/site-generator/requirements.txt
  containers/site-generator/site_generator.py
  containers/site-generator/static/script.js
  containers/site-generator/static/style.css
  containers/site-generator/templates/minimal/article.html
  containers/site-generator/templates/minimal/base.html
  containers/site-generator/templates/minimal/index.html
  containers/site-generator/test_generator.py
  containers/site-generator/test_real_content.py
  infra/container_apps.tf
  infra/main.tf
  infra/outputs.tf
Due: terraform-quality, actionlint, semgrep

feat: Add comprehensive integration tests for site-generator
  containers/site-generator/test_generator.py
  containers/site-generator/test_integration.py
  containers/site-generator/test_real_content.py
Due: semgrep

Fix Dockerfile: Add multi-stage build with production target
  containers/site-generator/Dockerfile
Due: none

Deploy Phase 1 infrastructure: Static Web Apps + Container Apps
  infra/main.tf
Due: terraform-quality, semgrep

Add Azure Function for Static Web App deployment
  functions/static-site-deployer/host.json
  functions/static-site-deployer/package.json
  functions/static-site-deployer/src/functions/StaticSiteDeployer.js
  infra/functions.tf
  infra/outputs.tf
Due: terraform-quality, semgrep

security: Update Jinja2 to 3.1.6 to fix CVE vulnerabilities
  containers/site-generator/requirements.txt
Due: none

fix: Remove container build dependency from infrastructure deployment
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

security: Fix three critical security vulnerabilities
  containers/site-generator/main.py
  containers/site-generator/site_generator.py
  functions/static-site-deployer/src/functions/StaticSiteDeployer.js
Due: semgrep

infra: Trigger Function App deployment with security fixes
  infra/functions.tf
Due: terraform-quality, semgrep

fix: Remove managed identity from Free tier Static Web App
  functions/static-site-deployer/function_app.py
  functions/static-site-deployer/package.json
  functions/static-site-deployer/requirements.txt
  functions/static-site-deployer/src/functions/StaticSiteDeployer.js
  infra/functions.tf
  infra/main.tf
Due: terraform-quality, semgrep

security: Fix path injection vulnerability in site generator
  containers/site-generator/site_generator.py
  libs/blob_storage.py
Due: semgrep

security: Enhanced path injection protection and comprehensive tests
  containers/site-generator/site_generator.py
  tests/security/test_path_injection.py
Due: semgrep

security: Update dependency versions to address Dependabot alerts
  functions/static-site-deployer/requirements.txt
Due: none

security: Update dependency versions to address Dependabot alerts
  .github/actions/safety-config/action.yml
  .github/workflows/cicd-pipeline.yml
  .secrets.baseline
  Makefile
  config/shared-versions.toml
Due: actionlint, semgrep

feat: add GitHub Copilot automated code scanning resolution
  .github/actions/copilot-code-fix/action.yml
  .github/copilot-auto-resolution-config.md
  .github/workflows/copilot-code-scanning-resolution.yml
  .github/workflows/security-auto-resolution.yml
Due: actionlint, semgrep

fix: update Safety version from 3.6.1 to 3.6.0
  .github/actions/safety-config/action.yml
  config/shared-versions.toml
Due: semgrep
