Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

fix(content-processor): correct production stage CMD to use src.main:app
  containers/content-processor/Dockerfile
Due: none

fix(content-processor): correct CMD to use main:app not src.main:app
  containers/content-processor/Dockerfile
Due: none

feat(content-processor): implement wake-up processing pattern
  -
  containers/content-collector/service_logic.py
  containers/content-processor/endpoints/processing.py
  containers/content-processor/endpoints/servicebus_router.py
Due: semgrep

feat: wake-up pattern validation complete
  test_individual_message_sender.py
  test_individual_processing.py
  test_wake_up_pattern.py
Due: semgrep

debug: add Service Bus authentication debug logging
  libs/service_bus_client.py
Due: semgrep

Fix content-collector tests for wake-up pattern implementation
  containers/content-collector/tests/test_service_logic.py
Due: semgrep

Fix test assertions for wake-up pattern message structure
  containers/content-collector/tests/test_service_logic.py
Due: semgrep

feat: migrate from Service Bus to Storage Queues for Container Apps compatibility
  README.md
  TODO.md
  containers/content-collector/endpoints/storage_queue_router.py
  containers/content-collector/service_logic.py
  containers/content-processor/endpoints/storage_queue_router.py
  containers/site-generator/storage_queue_router.py
  docs/STORAGE_QUEUE_MIGRATION_PLAN.md
  infra/container_apps.tf
  infra/main.tf
  libs/pyproject.toml
  libs/queue_client.py
  libs/storage_queue_client.py
  test_wake_up_pattern.py.backup
  tests/test_service_bus_client_queue_properties.py.deprecated
Due: terraform-quality, semgrep

fix: optimize slow tests and reduce file size
  containers/content-collector/service_logic.py
  containers/content-collector/tests/test_content_collection.py
  containers/content-collector/tests/test_fixtures.py
  containers/content-collector/tests/test_queue_integration.py
  containers/content-collector/tests/test_service_core.py
  containers/content-collector/tests/test_service_logic.py
  containers/content-collector/tests/test_storage_infrastructure.py
  libs/azure_queue_mocks.py
Due: semgrep

fix: correct patch paths for send_wake_up_message in tests
  containers/content-collector/tests/test_content_collection.py
  containers/content-collector/tests/test_fixtures.py
  containers/content-collector/tests/test_queue_integration.py
  containers/content-collector/tests/test_service_logic.py
Due: semgrep

fix: resolve remaining test failures for storage infrastructure and service core
  containers/content-collector/service_logic.py
  containers/content-collector/tests/test_service_core.py
  containers/content-collector/tests/test_storage_infrastructure.py
Due: semgrep

fix: add authentication configuration for KEDA storage queue scalers
  infra/container_apps.tf
Due: terraform-quality, semgrep

feat: migrate to managed identity authentication for KEDA scaling
  infra/container_apps.tf
Due: terraform-quality, semgrep

docs: update container README files for pipeline verification
  containers/content-collector/README.md
  containers/content-processor/README.md
  containers/site-generator/README.md
Due: none

feat: add role assignments for developer access to Storage Queue Data Contributor and Reader
  infra/main.tf
Due: terraform-quality, semgrep

Fix: Implement dynamic resource prefix configuration
  infra/container_apps.tf
  infra/cost_monitoring.tf
  infra/outputs.tf
  infra/variables.tf
Due: terraform-quality, semgrep

feat: complete infrastructure management improvements
  docs/KEY_VAULT_SECRETS_FIX.md
  infra/container_discovery.tf
  infra/main.tf
  infra/outputs.tf
  infra/test_outputs.tf
  infra/variables.tf
  scripts/check-container-image.sh
  scripts/import-container-apps.sh
  scripts/import-keyvault-secrets.sh
  scripts/terraform-discover-containers-with-fallback.sh
Due: terraform-quality, semgrep

feat: implement transitive dependency consolidation
  containers/content-collector/Dockerfile
  containers/content-collector/requirements.txt
  containers/content-processor/Dockerfile
  containers/content-processor/requirements.txt
  containers/site-generator/Dockerfile
  containers/site-generator/requirements.txt
  libs/pyproject.toml
Due: none

fix: resolve hardcoded environment resource groups
  .github/actions/sync-container-versions/action.yml
  .github/workflows/cicd-pipeline.yml
  .github/workflows/content-collection.yml
Due: actionlint, semgrep

docs: update API architecture to reflect current state and gaps
  TODO.md
Due: none

docs: update TODO with queue automation gap discovery
  TODO.md
Due: none

feat: add initial collection result JSON files for data processing
  collection_result.json
  collection_result_bbc.json
Due: semgrep

feat: Configure Pylance and resolve linter issues
  .github/actions/sync-container-versions/action.yml
  containers/content-collector/endpoints/storage_queue_router.py
  containers/content-processor/endpoints/storage_queue_router.py
  containers/site-generator/storage_queue_router.py
  infra/main.tf
  pyproject.toml
  pyrightconfig.json
  tests/test_shared_models_comprehensive.py
Due: terraform-quality, semgrep

fix: Resolve security vulnerabilities in code scanning alerts
  .github/actions/sync-container-versions/action.yml
  containers/content-collector/endpoints/storage_queue_router.py
  containers/content-processor/endpoints/storage_queue_router.py
  containers/site-generator/storage_queue_router.py
  infra/.infracost/pricing.gob
  infra/main.tf
  libs/queue_client.py
  libs/storage_queue_client.py
Due: terraform-quality, semgrep

Fix queue automation logic to trigger on all collections
  containers/content-collector/service_logic.py
Due: semgrep

Add comprehensive web/RSS sources to default collection template
  .github/workflows/cicd-pipeline.yml
  DEPLOYMENT_ANALYSIS.md
  LIVE_TESTING_PLAN.md
  LIVE_TESTING_RESULTS.md
  QUEUE_ANALYSIS_RESULTS.md
  QUEUE_AUTOMATION_SUCCESS.md
  QUEUE_FIX_COMPLETE.md
  SECURITY_CLEANUP_PLAN.md
  collection-templates/default.json
  containers/content-collector/endpoints/collections.py
  containers/content-collector/main.py
  infra/container_apps.tf
Due: terraform-quality, actionlint, semgrep

Fix critical security issues: information exposure and shell injection
  .github/actions/sync-container-versions/action.yml
  containers/content-collector/endpoints/storage_queue_router.py
  containers/content-processor/endpoints/storage_queue_router.py
  containers/site-generator/storage_queue_router.py
  infra/main.tf
Due: terraform-quality, semgrep

Add Trivy security suppressions for infrastructure configuration
  infra/main.tf
Due: terraform-quality, semgrep

Fix GitHub Actions shell injection vulnerabilities
  .github/actions/smart-deploy/action.yml
  .github/actions/sync-container-versions/action.yml
Due: semgrep

Fix XSS vulnerabilities and add comprehensive security suppressions
  containers/site-generator/content_manager.py
  containers/site-generator/static/script.js
  infra/main.tf
Due: terraform-quality, semgrep

Update network ACL configuration: Allow all networks with identity-based security
  infra/main.tf
Due: terraform-quality, semgrep

Move collection templates to blob storage and remove Service Bus code
  containers/content-collector/endpoints/collections.py
  containers/content-collector/main.py
  infra/main.tf
Due: terraform-quality, semgrep

Fix method name in scheduled collection endpoint
  containers/content-collector/endpoints/collections.py
Due: semgrep

Fix parameter mapping in scheduled collection endpoint
  containers/content-collector/endpoints/collections.py
Due: semgrep

fix: dramatically improve content-collector test performance
  containers/content-collector/endpoints/collections.py
  containers/content-collector/tests/conftest.py
Due: semgrep

feat: implement UV wheels-only optimization for 70% faster container builds
  UV_MIGRATION_PLAN.md
  containers/Dockerfile.template
  containers/Dockerfile.uv-template
  containers/content-collector/Dockerfile.alpine-optimized
  containers/content-collector/Dockerfile.optimized
  containers/content-collector/Dockerfile.uv
  containers/content-collector/Dockerfile.wheels-only
  containers/content-processor/Dockerfile
  containers/site-generator/Dockerfile
Due: none

perf: optimize container sync for 67-95% faster deployment
  .github/actions/sync-container-versions/action.yml
  CONTAINER_SYNC_OPTIMIZATION.md
  UV_MIGRATION_PLAN.md
  containers/Dockerfile.template
  containers/Dockerfile.uv-template
  containers/content-collector/Dockerfile.alpine-optimized
  containers/content-collector/Dockerfile.optimized
  containers/content-collector/Dockerfile.uv
  containers/content-collector/Dockerfile.wheels-only
  containers/content-processor/Dockerfile
  containers/site-generator/Dockerfile
Due: semgrep

Complete Storage Queue migration for content-collector
  containers/content-collector/endpoints/__init__.py
  containers/content-collector/endpoints/collections.py
  containers/content-collector/endpoints/servicebus_router.py
  containers/content-collector/endpoints/storage_queue_router.py
  containers/content-collector/main.py
Due: semgrep

Update content-processor for Storage Queue integration
  containers/content-processor/endpoints/__init__.py
  containers/content-processor/endpoints/storage_queue_router.py
  containers/content-processor/main.py
Due: semgrep

Update documentation for completed Storage Queue migration
  README.md
  TODO.md
Due: none

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
