Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

fix(site-generator): Fix article URL generation to match actual file storage
  containers/site-generator/content_utility_functions.py
  containers/site-generator/html_page_generation.py
Due: semgrep

fix(site-generator): Support id field for article filename generation
  containers/site-generator/content_utility_functions.py
Due: semgrep

feat: migrate to Jinja2 template rendering for proper HTML generation
  containers/site-generator/content_utility_functions.py
  containers/site-generator/html_page_generation.py
  containers/site-generator/templates/minimal/article.html
  containers/site-generator/templates/minimal/index.html
  docs/INDEX_HTML_FIX_SUMMARY.md
  docs/JINJA2_TEMPLATE_MIGRATION.md
Due: semgrep

Create issue for missing content from collections
  issues/content_missing_0000_0800.md
Due: none

Create issue for missing content from collections 0000 and 0800
  issues/missing-content-0000-0800.md
Due: none

Create GitHub issue: Content Missing from Collections 0000 and 0800
  issues/0000-0800.md
Due: none

fix: resolve circular dependency in dependabot-automerge workflow
  .github/workflows/dependabot-automerge.yml
Due: actionlint, semgrep

fix: resolve circular dependency in dependabot-automerge workflow (#592)
  .github/workflows/dependabot-automerge.yml
Due: actionlint, semgrep

refactor: split large Terraform files into logical components
  .github/workflows/large-file-detector.yml
  infra/container_app_collector.tf
  infra/container_app_processor.tf
  infra/container_app_site_generator.tf
  infra/container_apps.tf
  infra/container_environment.tf
  infra/data_sources.tf
  infra/key_vault.tf
  infra/main.tf
  infra/monitoring.tf
  infra/openai.tf
  infra/storage.tf
Due: terraform-quality, actionlint, semgrep

refactor: split large Terraform files into logical components
  README.md
Due: none

fix(site-generator): Use standard markdown library for rendering (#582, #588)
  containers/site-generator/html_page_generation.py
  containers/site-generator/templates/minimal/article.html
  containers/site-generator/templates/minimal/index.html
  containers/site-generator/tests/test_text_processing.py
  containers/site-generator/text_processing.py
  docs/SITE_GENERATOR_BUG_RESOLUTION_PLAN.md
Due: semgrep

Fix responsive design and pagination (issues #584 #587)
  containers/site-generator/content_utility_functions.py
  containers/site-generator/functional_config.py
  containers/site-generator/static/style.css
  containers/site-generator/templates/minimal/base.html
  containers/site-generator/templates/minimal/index.html
Due: semgrep

Fix article card width consistency and align header
  README.md
  containers/site-generator/static/style.css
  containers/site-generator/templates/minimal/index.html
Due: none

Add full-width responsive grid for ultra-wide displays
  containers/site-generator/static/style.css
  containers/site-generator/templates/minimal/index.html
Due: none

Fix site-generator crash loop - disable auto-shutdown
  infra/container_app_site_generator.tf
Due: terraform-quality, semgrep

Fix responsive grid with auto-fit for proper card sizing
  containers/site-generator/static/style.css
Due: none

feat: Add end-to-end source attribution from collection to publishing (fixes #583)
  containers/content-processor/content_generation.py
  containers/content-processor/tests/test_source_attribution.py
  containers/site-generator/html_page_generation.py
  containers/site-generator/static/style.css
  containers/site-generator/templates/minimal/article.html
  containers/site-generator/templates/minimal/index.html
  containers/site-generator/tests/test_source_attribution.py
Due: semgrep

fix: Move sample_config fixture to module level for accessibility
  containers/site-generator/tests/test_source_attribution.py
Due: semgrep

feat: Add shared storage queue poller for continuous message processing
  containers/content-processor/main.py
  containers/site-generator/main.py
  libs/storage_queue_poller.py
Due: semgrep

fix: Correct message_handler signature to match process_queue_messages
  containers/content-processor/main.py
  containers/site-generator/main.py
  libs/storage_queue_poller.py
Due: semgrep

fix: Clean URLs from article titles across site-generator pipeline
  containers/site-generator/content_utility_functions.py
  containers/site-generator/html_page_generation.py
  containers/site-generator/rss_generation.py
  containers/site-generator/tests/test_text_processing.py
  containers/site-generator/tests/test_title_cleaning_integration.py
Due: semgrep

chore: Remove develop branch and simplify to main-only workflow
  .github/copilot-instructions.md
  .github/workflows/cicd-pipeline.yml
  .github/workflows/large-file-detector.yml
  AGENTS.md
  Makefile
Due: actionlint, semgrep

refactor: Remove commented code and inline import
  Makefile
  containers/site-generator/CODE_QUALITY_PLAN.md
  containers/site-generator/content_utility_functions.py
Due: semgrep

refactor: Apply functional programming patterns to title cleaning
  Makefile
  containers/site-generator/content_utility_functions.py
  containers/site-generator/html_page_generation.py
  containers/site-generator/tests/test_title_cleaning_integration.py
Due: semgrep

fix: Clean URLs from article titles across site-generator pipeline (#594)
  .github/copilot-instructions.md
  .github/workflows/cicd-pipeline.yml
  .github/workflows/large-file-detector.yml
  AGENTS.md
  Makefile
  containers/site-generator/CODE_QUALITY_PLAN.md
  containers/site-generator/content_utility_functions.py
  containers/site-generator/html_page_generation.py
  containers/site-generator/rss_generation.py
  containers/site-generator/tests/test_text_processing.py
  containers/site-generator/tests/test_title_cleaning_integration.py
Due: actionlint, semgrep

Fix: Centralize article URL generation to prevent 404 errors
  containers/site-generator/URL_FIX_SUMMARY.md
  containers/site-generator/content_utility_functions.py
  containers/site-generator/html_page_generation.py
  containers/site-generator/rss_generation.py
  containers/site-generator/sitemap_generation.py
  containers/site-generator/tests/test_url_consistency.py
  containers/site-generator/url_utils.py
Due: semgrep

Fix: Remove redundant 'article-' prefix from filenames
  containers/site-generator/content_utility_functions.py
Due: semgrep

feat(content-processor): Add AI-powered metadata generation with cost tracking
  containers/content-processor/metadata_generator.py
  containers/content-processor/openai_client.py
  containers/site-generator/URL_FILENAME_REDESIGN.md
Due: semgrep

feat(content-processor): Integrate metadata generation into article processing pipeline
  containers/content-processor/METADATA_GENERATION_PHASE1_COMPLETE.md
  containers/content-processor/services/article_generation.py
  containers/content-processor/tests/test_article_metadata.py
Due: semgrep

feat(site-generator): Simplify filename generation using processor metadata
  containers/site-generator/content_utility_functions.py
  containers/site-generator/tests/test_processor_metadata_usage.py
Due: semgrep

docs(site-generator): Add Phase 3 completion documentation
  containers/site-generator/PHASE3_COMPLETE.md
Due: none

chore: Organize site-generator documentation into /docs/site-generator-history
  docs/site-generator-history/CODE_QUALITY_PLAN.md
  docs/site-generator-history/INDEX_FIX_SUMMARY.md
  docs/site-generator-history/PHASE3_COMPLETE.md
  docs/site-generator-history/QUEUE_TRIGGER_IMPLEMENTATION.md
  docs/site-generator-history/README.md
  docs/site-generator-history/REFACTOR_COMPLETE.md
  docs/site-generator-history/URL_FILENAME_REDESIGN.md
  docs/site-generator-history/URL_FIX_SUMMARY.md
  docs/site-generator-history/WHAT_WE_FIXED.md
  docs/site-generator-history/site-gen-python-standards.md
Due: none

feat: Add safe reprocess endpoint with dry-run default and OWASP compliance
  CLEAN_REBUILD_PLAN.md
  REPROCESS_ENDPOINT_IMPLEMENTATION.md
  REPROCESS_REFACTORING_SUMMARY.md
  containers/content-collector/endpoints/__init__.py
  containers/content-collector/endpoints/reprocess.py
  containers/content-collector/main.py
  scripts/check-state.sh
  scripts/clean-rebuild.sh
  scripts/test-reprocess-endpoint.sh
Due: semgrep

Fix TypeError in reprocess endpoint - use correct parameter name 'container' instead of 'container_name' for SimplifiedBlobClient.list_blobs()
  containers/content-collector/endpoints/reprocess.py
Due: semgrep

fix(collector): Use correct SimplifiedBlobClient API methods
  containers/content-collector/endpoints/reprocess.py
Due: semgrep

fix: Make cost_usd tracking optional to prevent blocking article generation
  containers/content-processor/metadata_generator.py
  containers/content-processor/services/article_generation.py
Due: semgrep

fix(processor): refactor processor, fix queue data contracts, verify reprocess flow
  REPROCESSING_MONITORING_GUIDE.md
  REPROCESS_FLOW_ANALYSIS.md
  REPROCESS_FLOW_VERIFIED.md
  containers/content-processor/endpoints/storage_queue_router.py
  containers/content-processor/processor.py
  containers/content-processor/services/__init__.py
  containers/content-processor/services/topic_conversion.py
  docs/DATA_CONTRACT_FIX.md
  libs/queue_triggers.py
  scripts/clean-all-content.sh
  scripts/clear-queue.sh
  scripts/monitor-reprocessing.sh
  tests/test_queue_triggers_contract.py
Due: semgrep

fix(site-generator): use processor filename as single source of truth
  COMMIT_SUCCESS_SUMMARY.md
  FILENAME_MISMATCH_BUG.md
  containers/site-generator/content_utility_functions.py
Due: semgrep

fix(site-generator): remove duplicate articles prefix in filename path
  containers/site-generator/content_utility_functions.py
Due: semgrep

debug: add logging to see filename usage in site-generator
  containers/site-generator/content_utility_functions.py
Due: semgrep

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
