Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

fix: Preserve PYTHONPATH in CI/CD test execution
  .github/actions/test-single-container/action.yml
Due: semgrep

fix: Restore content-collector dependencies and trigger pipeline
  containers/content-collector/main.py
  containers/content-collector/requirements-prod.txt
Due: semgrep

refactor: Break down monolithic test file into focused, fast test modules
  containers/content-collector/main.py
  containers/content-collector/requirements-prod.txt
  containers/content-collector/tests/test_api_compliance.py
  containers/content-collector/tests/test_discovery.py
  containers/content-collector/tests/test_models.py
  containers/content-collector/tests/test_reddit_client.py
  containers/content-collector/tests/test_source_collectors.py
  containers/content-collector/tests/test_standardized_api.py
Due: semgrep

content-processor: Initialize refactoring branch for #390
  CONTENT_PROCESSOR_REFACTOR_PLAN.md
Due: none

refactor: Enhance architecture for parallel auto-scaling processing
  CONTENT_PROCESSOR_REFACTOR_PLAN.md
Due: none

refactor: Add multi-model AI experimentation infrastructure
  CONTENT_PROCESSOR_REFACTOR_PLAN.md
Due: none

refactor: Optimize plan for maximum shared component reuse
  CONTENT_PROCESSOR_REFACTOR_PLAN.md
Due: none

feat: Add test-first development for API standardization
  CONTENT_PROCESSOR_REFACTOR_PLAN.md
  config/shared-versions.toml
  containers/content-processor/requirements-prod.txt
  containers/content-processor/tests/test_standardized_api.py
Due: semgrep

feat: Complete Phase 1 Foundation implementation
  CONTENT_PROCESSOR_REFACTOR_PLAN.md
  containers/content-processor/src/config.py
  containers/content-processor/src/libs/__init__.py
  containers/content-processor/src/libs/blob_auth.py
  containers/content-processor/src/libs/blob_mock.py
  containers/content-processor/src/libs/blob_operations.py
  containers/content-processor/src/libs/blob_storage.py
  containers/content-processor/src/libs/blob_utils.py
  containers/content-processor/src/libs/config_base.py
  containers/content-processor/src/libs/pyproject.toml
  containers/content-processor/src/libs/secure_error_handler.py
  containers/content-processor/src/libs/shared_models.py
  containers/content-processor/src/libs/standard_endpoints.py
  containers/content-processor/src/libs/standard_tests.py
  containers/content-processor/src/libs/test_shared_models.py
  containers/content-processor/src/libs/test_shared_models_clean.py
  containers/content-processor/src/libs/test_shared_models_fastapi_native.py
  containers/content-processor/src/main.py
  containers/content-processor/tests/test_standardized_api.py
Due: semgrep

content-processor: Complete Phase 3 with real OpenAI integration
  CONTENT_PROCESSOR_REFACTOR_PLAN.md
  config/shared-versions.toml
  containers/content-processor/Dockerfile
  containers/content-processor/demo.py
  containers/content-processor/deploy_azure.sh
  containers/content-processor/requirements-prod.txt
  containers/content-processor/src/config.py
  containers/content-processor/src/external_api_client.py
  containers/content-processor/src/main.py
  containers/content-processor/src/main_clean.py
  containers/content-processor/src/main_corrupted.py
  containers/content-processor/src/main_full.py
  containers/content-processor/src/main_simple.py
  containers/content-processor/src/processing_service.py
  containers/content-processor/src/services/__init__.py
  containers/content-processor/src/services/mock_service.py
  containers/content-processor/src/services/openai_service.py
  containers/content-processor/src/services/processor_factory.py
  containers/content-processor/test_local.sh
  containers/content-processor/tests/test_standardized_api.py
  containers/content-processor/validate_api.py
  containers/content-processor/validation_results_1756978440.json
  infra/outputs.tf
Due: terraform-quality, semgrep

Fix test failures: Update test_clean_implementation.py to match new API endpoints
  containers/content-processor/tests/test_clean_implementation.py
Due: semgrep

Remove corrupted main_corrupted.py file causing CI formatting issues
  containers/content-processor/src/main_corrupted.py
Due: semgrep

Fix Terraform role assignment for Static Web App access
  infra/functions.tf
Due: terraform-quality, semgrep

refactor: consolidate file structure and implement proper monorepo layout
  containers/content-processor/config.py
  containers/content-processor/main.py
  containers/content-processor/src/config.py
  containers/content-processor/src/libs/__init__.py
  containers/content-processor/src/libs/blob_auth.py
  containers/content-processor/src/libs/blob_mock.py
  containers/content-processor/src/libs/blob_operations.py
  containers/content-processor/src/libs/blob_storage.py
  containers/content-processor/src/libs/blob_utils.py
  containers/content-processor/src/libs/config_base.py
  containers/content-processor/src/libs/pyproject.toml
  containers/content-processor/src/libs/secure_error_handler.py
  containers/content-processor/src/libs/shared_models.py
  containers/content-processor/src/libs/standard_endpoints.py
  containers/content-processor/src/libs/standard_tests.py
  containers/content-processor/src/libs/test_shared_models.py
  containers/content-processor/src/libs/test_shared_models_clean.py
  containers/content-processor/src/libs/test_shared_models_fastapi_native.py
  containers/content-processor/src/main.py
  containers/content-processor/src/main_clean.py
  containers/content-processor/src/main_full.py
  containers/content-processor/src/main_simple.py
  containers/content-processor/src/services/mock_service.py
  containers/content-processor/src/services/openai_service.py
  containers/content-processor/src/services/processor_factory.py
  containers/content-processor/tests/test_api_endpoints.py
  libs/test_shared_models_clean.py
Due: semgrep

fix: update test suite to match standardized API endpoints
  containers/content-processor/tests/test_api_endpoints.py
  containers/content-processor/tests/test_standardized_api.py
Due: semgrep

feat: extract container sync logic into reusable action
  .github/actions/sync-container-images/action.yml
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix(content-collector): standardize models and API structure
  CONTENT_PROCESSOR_REFACTOR_PLAN.md
  containers/content-collector/models.py
  containers/content-collector/tests/test_models.py
  containers/content-collector/tests/test_source_collectors.py
Due: semgrep

fix(cicd): handle container app not found scenario gracefully
  .github/actions/sync-container-images/action.yml
Due: semgrep

fix(content-processor): standardize file structure by removing src/ subdirectory
  containers/content-processor/Dockerfile
  containers/content-processor/demo.py
  containers/content-processor/external_api_client.py
  containers/content-processor/main.py
  containers/content-processor/processing_service.py
  containers/content-processor/services/__init__.py
  containers/content-processor/services/mock_service.py
  containers/content-processor/services/openai_service.py
  containers/content-processor/services/processor_factory.py
Due: semgrep

fix: site-generator test assertion for health endpoint failure
  containers/site-generator/tests/test_app_basic.py
Due: semgrep

ci: update CI/CD to exclude deprecated containers from testing
  .github/actions/collect-test-results/action.yml
  .github/actions/deploy-to-azure/action.yml
  .github/actions/smart-deploy/action.yml
  .github/workflows/cicd-pipeline.yml
  scripts/discover-containers.sh
Due: actionlint, semgrep

fix: repair dependabot.yml YAML syntax after content-generator removal
  .github/dependabot.yml
  .github/workflows/cicd-pipeline.yml
  README.md
  containers/deprecated/content-generator/Dockerfile
  containers/deprecated/content-generator/Dockerfile.multitier
  containers/deprecated/content-generator/Dockerfile.production
  containers/deprecated/content-generator/README.md
  containers/deprecated/content-generator/ai_clients.py
  containers/deprecated/content-generator/blob_events.py
  containers/deprecated/content-generator/config.py
  containers/deprecated/content-generator/conftest.py
  containers/deprecated/content-generator/content_generators.py
  containers/deprecated/content-generator/health.py
  containers/deprecated/content-generator/main.py
  containers/deprecated/content-generator/models.py
  containers/deprecated/content-generator/pyproject.toml
  containers/deprecated/content-generator/requirements-prod.txt
  containers/deprecated/content-generator/requirements-test.txt
  containers/deprecated/content-generator/requirements-unique.txt
  containers/deprecated/content-generator/requirements.txt
  containers/deprecated/content-generator/service_logic.py
  containers/deprecated/content-generator/tests/conftest.py
  containers/deprecated/content-generator/tests/contracts/__init__.py
  containers/deprecated/content-generator/tests/contracts/azure_openai_contract.py
  containers/deprecated/content-generator/tests/contracts/blob_storage_contract.py
  containers/deprecated/content-generator/tests/contracts/claude_contract.py
  containers/deprecated/content-generator/tests/contracts/openai_contract.py
  containers/deprecated/content-generator/tests/mocks.py
  containers/deprecated/content-generator/tests/test_api.py
  containers/deprecated/content-generator/tests/test_api_endpoints.py
  containers/deprecated/content-generator/tests/test_azure_integration.py
  containers/deprecated/content-generator/tests/test_azure_openai.py
  containers/deprecated/content-generator/tests/test_comprehensive.py
  containers/deprecated/content-generator/tests/test_content_generator.py
  containers/deprecated/content-generator/tests/test_content_generator_service.py
  containers/deprecated/content-generator/tests/test_integration.py
  containers/deprecated/content-generator/tests/test_openai_integration.py
  containers/deprecated/content-generator/tests/test_service.py
  containers/deprecated/content-generator/tests/test_standardized_api.py
  scripts/discover-containers.sh
Due: actionlint, semgrep

fix: pipeline container detection to ignore deleted containers
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix: pipeline container detection to ignore deleted containers
  .secrets.baseline
  containers/content-collector/keyvault_client.py
Due: semgrep

fix: Prevent CI/CD from testing non-existent containers
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix: remove clear-text logging of sensitive information in content-processor
  containers/content-processor/external_api_client.py
Due: semgrep

docs: record dismissal of CodeQL alert for removed container
  SECURITY_FIX_SUMMARY.md
Due: none

Update large file threshold from 400 to 500 lines in workflow and documentation (#387)
  .github/workflows/large-file-detector.yml
  docs/LARGE_FILE_RESOLUTION_PLAN.md
  docs/cicd/GITHUB_ACTIONS_IMPLEMENTATION.md
  docs/cicd/PIPELINE_IMPLEMENTATION_COMPLETE.md
  scripts/analyze-large-file-priorities.sh
Due: actionlint, semgrep

fix: remove clear-text logging of sensitive information in content-processor (#412)
  containers/content-processor/external_api_client.py
Due: semgrep

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
