Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

fix: remove Safety dependency scanning to resolve CI failures
  .github/actions/safety-config/action.yml
  .github/dependabot.yml
  .github/workflows/cicd-pipeline.yml
  Makefile
  config/shared-versions.toml
Due: actionlint, semgrep

refactor: complete Safety removal from security scanning
  .github/actions/dependency-analysis/action.yml
  .github/actions/safety-config/README.md
  .github/actions/safety-config/action.yml
  .github/actions/security-python/action.yml
  .github/actions/security-scan/action.yml
  config/shared-versions.toml
Due: semgrep

test: trigger security pipeline with py/tf changes
  infra/providers.tf
  libs/shared_models.py
Due: terraform-quality, semgrep

fix: replace emojis with text markers in workflows
  .github/actions/test-single-container/action.yml
  .github/workflows/cicd-pipeline.yml
  .secrets.baseline
  scripts/discover-containers.sh
Due: actionlint, semgrep

test: trigger dynamic container discovery
  libs/shared_models.py
Due: semgrep

fix: correct container discovery script list output
  scripts/discover-containers.sh
Due: none

test: final check of dynamic container discovery
  libs/shared_models.py
Due: semgrep

Standardize security scanning across workflows
  .github/actions/security-scan/action.yml
  .github/workflows/cicd-pipeline.yml
  .github/workflows/dependabot-auto-label.yml
  .github/workflows/dependabot-automerge.yml
  docs/SECURITY_STRATEGY.md
Due: actionlint, semgrep

fix: add checkout step to dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: actionlint, semgrep

feat: improve Dependabot auto-merge reliability
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/dependabot-auto-label.yml
Due: actionlint, semgrep

fix: add checkout step to auto-approve workflow
  .github/workflows/dependabot-auto-approve.yml
Due: actionlint, semgrep

fix: disable auto-approve workflow
  .github/workflows/dependabot-auto-approve.yml
Due: actionlint, semgrep

feat: cleanup redundant Dependabot workflows
  .github/prompts/agent-instructions.md.prompt.md
  .github/workflows/dependabot-auto-label.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-automerge.yml
Due: actionlint, semgrep

fix: remove disabled auto-approve workflow completely
  .github/workflows/dependabot-auto-approve.yml
Due: actionlint, semgrep

feat: optimize Dependabot workflow and reduce CI/CD overhead
  .github/workflows/cicd-pipeline.yml
  .github/workflows/dependabot-automerge.yml
Due: actionlint, semgrep

feat: optimize dependabot.yml for monorepo architecture
  .github/dependabot.yml
Due: semgrep

Update .github/dependabot.yml
  .github/dependabot.yml
Due: semgrep

feat: optimize dependabot.yml for monorepo architecture (#365)
  .github/dependabot.yml
Due: semgrep

Security fix: Remediate path injection vulnerabilities in site-generator
  containers/site-generator/site_generator.py
  tests/test_site_generator_security.py
Due: semgrep

security: eliminate remaining path injection vulnerabilities
  containers/site-generator/site_generator.py
Due: semgrep

docs: add security fix summary and fix test imports
  SECURITY_FIX_SUMMARY.md
Due: none

Potential fix for code scanning alert no. 108: Uncontrolled data used in path expression
  containers/site-generator/site_generator.py
Due: semgrep

Potential fix for code scanning alert no. 109: Uncontrolled data used in path expression
  containers/site-generator/requirements.txt
  containers/site-generator/site_generator.py
Due: semgrep

fix: improve CI/CD pipeline reliability
  .github/actions/auto-fix-formatting/action.yml
  .github/workflows/large-file-detector.yml
  containers/site-generator/site_generator.py
Due: actionlint, semgrep

fix: improve CI/CD pipeline reliability
  .github/actions/auto-fix-formatting/action.yml
  .github/workflows/large-file-detector.yml
  containers/content-generator/tests/test_content_generator.py
  containers/site-generator/content_manager.py
  containers/site-generator/file_operations.py
  containers/site-generator/security_utils.py
  containers/site-generator/site_generator.py
  containers/site-generator/test_generator.py
  containers/site-generator/test_integration.py
  containers/site-generator/test_real_content.py
  containers/site-generator/tests/conftest.py
  containers/site-generator/tests/test_content_manager.py
  containers/site-generator/tests/test_file_operations.py
  containers/site-generator/tests/test_main.py
  containers/site-generator/tests/test_models.py
  containers/site-generator/tests/test_security_utils.py
  containers/site-generator/tests/test_site_generator.py
  tests/test_complete_pipeline.py
  tests/test_event_driven.py
  tests/test_site_generator_security.py
  tests/test_site_generator_security_refactored.py
Due: actionlint, semgrep

feat: Fix site-generator OWASP vulnerabilities and achieve 100% test coverage
  .github/agent-instructions.md
  containers/site-generator/legacy_security.py
  containers/site-generator/main.py
  containers/site-generator/markdown_service.py
  containers/site-generator/site_generator.py
  containers/site-generator/site_service.py
  containers/site-generator/tests/conftest.py
  containers/site-generator/tests/test_api_endpoints.py
  containers/site-generator/tests/test_app_basic.py
  containers/site-generator/tests/test_content_manager.py
  containers/site-generator/tests/test_content_manager_advanced.py
  containers/site-generator/tests/test_content_manager_basic.py
  containers/site-generator/tests/test_error_handling.py
  containers/site-generator/tests/test_main.py
  containers/site-generator/tests/test_models_advanced.py
  containers/site-generator/tests/test_models_basic.py
  containers/site-generator/tests/test_site_generator.py
  containers/site-generator/tests/test_site_generator_basic.py
  containers/site-generator/tests/test_site_generator_generation.py
  containers/site-generator/tests/test_site_generator_security.py
  containers/site-generator/tests/test_site_generator_utils.py
  libs/__init__.py
  libs/blob_auth.py
  libs/blob_mock.py
  libs/blob_operations.py
  libs/blob_utils.py
  libs/secure_error_handler.py
  tests/test_site_generator_security_refactored.py
Due: semgrep

feat: Implement pydantic-settings for type-safe configuration management
  .secrets.baseline
  CONTAINER_STANDARDIZATION_PLAN.md
  IMPLEMENTATION_PLAN.md
  TODO.md
  containers/content-collector/config.py
  containers/content-collector/endpoints.py
  containers/content-collector/endpoints/__init__.py
  containers/content-collector/keyvault_client.py
  containers/content-collector/main.py
  containers/content-collector/reddit_client.py
  containers/content-collector/requirements.txt
  containers/content-collector/source_collectors.py
  containers/content-collector/tests/test_standardized_api.py
  docs/STANDARD_LIBRARY_RESEARCH.md
  libs/config_base.py
  libs/standard_endpoints.py
  requirements-dev.txt
Due: semgrep

fix: resolve endpoint import conflicts
  containers/content-collector/endpoints/__init__.py
Due: semgrep

fix: add pydantic-settings dependency and format fixes
  libs/pyproject.toml
  libs/standard_endpoints.py
Due: semgrep

Fix CI/CD pipeline test failures and improve Reddit client robustness (#386)
  containers/content-collector/reddit_client.py
  containers/content-collector/tests/test_standardized_api.py
Due: semgrep

Implement Reddit client security improvements to prevent credential exposure (#388)
  containers/content-collector/reddit_client.py
  containers/content-collector/tests/test_reddit_security.py
  containers/content-collector/tests/test_standardized_api.py
  docs/REDDIT_CLIENT_SECURITY.md
Due: semgrep

Fix Reddit client initialization-at-import issue
  containers/content-collector/endpoints.py
  containers/content-collector/reddit_client.py
  containers/content-collector/tests/conftest.py
  containers/content-collector/tests/test_reddit_security.py
Due: semgrep

test: update test_feature_flag description to trigger pipeline
  infra/variables.tf
Due: terraform-quality, semgrep

feat: Add comprehensive security tests for Reddit client
  containers/content-collector/tests/test_reddit_security.py
Due: semgrep

fix: Update docs endpoint test to use correct endpoint
  containers/content-collector/tests/test_standardized_api.py
Due: semgrep

feat: Create standardized test library for FastAPI compliance
  containers/content-collector/tests/test_standardized_api.py
  libs/standard_tests.py
Due: semgrep

fix: Update dependencies to latest stable versions with flexible versioning
  containers/base/requirements-common.txt
  containers/content-collector/requirements-prod.txt
  containers/content-collector/requirements.txt
Due: none

fix: Clean up corrupted content-collector requirements-prod.txt
  containers/content-collector/requirements-prod.txt
Due: none

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
