Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: '^(.github/.*|.*\.template\.yml)$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs

  # Python code quality using our shared script
  - repo: local
    hooks:
      - id: python-code-quality
        name: Python Code Quality (Black + isort + flake8)
        entry: ./scripts/code-quality.sh
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Terraform formatting and validation
  - repo: local
    hooks:
      - id: terraform-quality
        name: Terraform Quality (Format + Validate)
        entry: ./scripts/terraform-quality.sh
        language: system
        files: '\.tf$'
        pass_filenames: false
        always_run: false
        require_serial: true

  # GitHub Actions linting
  - repo: local
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflows
        entry: ./scripts/actionlint-docker.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
        pass_filenames: true

  # YAML linting (excluding GitHub Actions which are handled above)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: '^\.github/workflows/.*\.ya?ml$'
        args: ['-d', 'relaxed']

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(tests/.*|.*\.lock|.*\.log)$'

  # Semgrep security scanning (blocking)
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep Security Scan
        entry: ./scripts/run-semgrep-precommit.sh
        language: system
        files: '\.(py|tf|yml|yaml|js|ts|json)$'
        pass_filenames: false

# Configuration for ci (optional, for pre-commit.ci service)
ci:
  autoupdate_schedule: weekly
  skip: [python-code-quality, actionlint, terraform-quality, semgrep]  # Skip local hooks on CI

Minor formatting adjustments for storage queue routers
  containers/content-processor/main.py
Due: semgrep

Complete Service Bus removal from all containers
  containers/content-collector/endpoints/storage_queue_router.py
  containers/content-processor/config.py
  containers/content-processor/endpoints/__init__.py
  containers/content-processor/endpoints/servicebus_router.py
  containers/content-processor/endpoints/servicebus_router_new.py
  containers/content-processor/endpoints/storage_queue_router.py
  containers/content-processor/main.py
  containers/site-generator/main.py
  containers/site-generator/servicebus_router.py
  containers/site-generator/servicebus_router_new.py
  containers/site-generator/storage_queue_router.py
Due: semgrep

fix: remove invalid time_next_visible attribute from Storage Queue response
  libs/queue_client.py
Due: semgrep

fix: simplify Storage Queue send_message response handling
  libs/queue_client.py
Due: semgrep

fix: correct process_message function signature to accept 2 parameters
  containers/content-processor/endpoints/storage_queue_router.py
Due: semgrep

fix: add missing await keywords for async blob storage operations
  containers/content-processor/processor.py
Due: semgrep

fix: add missing await for blob_client.upload_json in article saving
  containers/content-processor/processor.py
Due: semgrep

fix: correct blob storage access in site-generator markdown service
  containers/site-generator/markdown_service.py
Due: semgrep

fix: use upload_text instead of upload_blob in markdown service
  containers/site-generator/markdown_service.py
Due: semgrep

fix: add missing await keywords for remaining async blob storage operations
  containers/content-processor/pricing_service.py
  containers/site-generator/site_generator.py
Due: semgrep

feat: implement automatic markdown generation with secure slug creation
  .github/agent-instructions.md
  containers/content-processor/endpoints.py
  containers/site-generator/content_manager.py
  containers/site-generator/main.py
  containers/site-generator/markdown_service.py
  containers/site-generator/requirements.txt
  containers/site-generator/tests/test_site_generator_utils.py
Due: semgrep

Fix test assertions for python-slugify behavior
  containers/site-generator/tests/test_content_manager_advanced.py
Due: semgrep

update docs
  .github/agent-instructions.md
Due: none

security: fix command injection vulnerabilities in new actions
  .github/actions/detect-changes/action.yml
  .github/actions/generate-summary/action.yml
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix: enable security failure alerting and test change detection
  .github/workflows/cicd-pipeline.yml
  containers/content-processor/main.py
  containers/site-generator/main.py
Due: actionlint, semgrep

security: implement secure error handling for Reddit API
  containers/content-collector/collectors/reddit.py
Due: semgrep

feat: automate Reddit credential sync from core Key Vault
  infra/core/.terraform.lock.hcl
  infra/core/main.tf
  infra/core/outputs.tf
  infra/core/variables.tf
  infra/environments/main.tf
  infra/environments/outputs.tf
  infra/environments/variables.tf
  infra/main.tf
  infra/variables.tf
  test_reddit_creds.py
Due: terraform-quality, semgrep

fix: address Checkov security checks CKV_AZURE_33 and CKV_AZURE_41
  infra/main.tf
Due: terraform-quality, semgrep

chore: root clean-up and doc archive.
  docs/CICD_REDESIGN_PLAN.md
  docs/CONTAINER_SYNC_OPTIMIZATION.md
  docs/DEPLOYMENT_ANALYSIS.md
  docs/LIVE_TESTING_PLAN.md
  docs/LIVE_TESTING_RESULTS.md
  docs/QUEUE_ANALYSIS_RESULTS.md
  docs/QUEUE_AUTOMATION_SUCCESS.md
  docs/QUEUE_FIX_COMPLETE.md
  docs/SECURITY_CLEANUP_PLAN.md
  docs/UV_MIGRATION_PLAN.md
  scripts/test_reddit_creds.py
  scripts/test_wake_up_pattern.py
  test_message.json
  test_wake_up_pattern.py.backup
Due: semgrep

fix: add Checkov skip for CKV_AZURE_33 queue logging check
  infra/main.tf
Due: terraform-quality, semgrep

fix: add Trivy ignore comments for AVD-AZU-0013 and AVD-AZU-0012
  infra/main.tf
Due: terraform-quality, semgrep

fix: add trivy ignore comment closer to Key Vault network_acls block
  infra/main.tf
Due: terraform-quality, semgrep

fix: add tfsec ignore comments for Trivy compatibility
  infra/main.tf
Due: terraform-quality, semgrep

fix: disable fail-on-critical for security infrastructure scan
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

refactor: remove Trivy from infrastructure scanning, keep for containers
  .github/actions/security-infrastructure/action.yml
  infra/main.tf
Due: terraform-quality, semgrep

Add workflow_dispatch trigger to enable manual pipeline runs
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

Fix terraform always run on main branch - addresses Key Vault permissions
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

Fix Reddit authentication: Use manual OAuth2 flow as primary auth test
  containers/content-collector/collectors/reddit.py
Due: semgrep

Add debug logging to Reddit OAuth2 authentication
  containers/content-collector/collectors/reddit.py
Due: semgrep

feat: implement adaptive collection framework with rate limiting and metrics
  collection-templates/adaptive-multi-source.json
  collection-templates/sustainable-reddit.json
  containers/content-collector/collectors/adaptive_integration.py
  containers/content-collector/collectors/adaptive_strategy.py
  containers/content-collector/collectors/base.py
  containers/content-collector/collectors/blob_metrics_storage.py
  containers/content-collector/collectors/blob_persistence_demo.py
  containers/content-collector/collectors/collection_monitor.py
  containers/content-collector/collectors/reddit.py
  containers/content-collector/collectors/source_strategies.py
  containers/content-collector/collectors/web.py
  containers/content-collector/content_processing.py
  containers/content-collector/tests/conftest.py
  containers/content-collector/tests/test_adaptive_collection.py
  containers/content-collector/tests/test_adaptive_integration.py
  containers/content-collector/tests/test_blob_metrics_integration.py
  containers/content-collector/tests/test_source_adaptive_strategies.py
  docs/BLOB_STORAGE_PERSISTENCE.md
  tests/conftest.py
  tests/test_blob_metrics_storage.py
Due: semgrep

feat: add Mastodon social media collector with adaptive strategies
  collection-templates/README.md
  collection-templates/default.json
  collection-templates/mastodon-social.json
  collection-templates/mastodon.json
  containers/content-collector/collectors/mastodon.py
  containers/content-collector/tests/test_mastodon_collector.py
Due: semgrep

feat: reduce content collection frequency to 3x daily
  .github/workflows/content-collection.yml
  infra/container_apps.tf
Due: terraform-quality, actionlint, semgrep

fix: resolve critical test failures in adaptive collection
  .github/workflows/content-collection.yml
  containers/content-collector/collectors/reddit.py
  containers/content-collector/collectors/web.py
  containers/content-collector/tests/test_adaptive_collection.py
  containers/content-collector/tests/test_source_adaptive_strategies.py
Due: actionlint, semgrep

fix: resolve async/await issues in adaptive strategy framework
  containers/content-collector/collectors/adaptive_strategy.py
  containers/content-collector/tests/test_adaptive_collection.py
Due: semgrep

security: fix credential logging and URL validation vulnerabilities
  scripts/cms_integration.py
  scripts/test_reddit_creds.py
  tests/test_blob_metrics_storage.py
Due: semgrep

feat: Add simplified collector architecture
  containers/content-collector/collectors/factory.py
  containers/content-collector/collectors/simple_base.py
  containers/content-collector/collectors/simple_mastodon.py
  containers/content-collector/collectors/simple_reddit.py
  containers/content-collector/content_processing_simple.py
Due: semgrep

test: Add comprehensive test suite for simplified architecture
  containers/content-collector/conftest.py
  containers/content-collector/pytest_clean.ini
  containers/content-collector/run_tests.py
  containers/content-collector/test_simplified_system.py
  containers/content-collector/tests/test_integration_simple.py
  containers/content-collector/tests/test_simplified_collectors.py
Due: semgrep

docs: Add comprehensive documentation for simplified architecture
  containers/content-collector/FILE_STATUS_SUMMARY.md
  containers/content-collector/SIMPLIFIED_COLLECTOR_SUCCESS.md
  containers/content-collector/TEST_COVERAGE_ANALYSIS.md
Due: none

refactor: Mark legacy collectors as DEPRECATED/LEGACY
  containers/content-collector/collectors/adaptive_integration.py
  containers/content-collector/collectors/adaptive_strategy.py
  containers/content-collector/collectors/base.py
  containers/content-collector/collectors/mastodon.py
  containers/content-collector/collectors/reddit.py
Due: semgrep

chore: Clean up legacy test files and update remaining components
  containers/content-collector/collectors/blob_metrics_storage.py
  containers/content-collector/collectors/blob_persistence_demo.py
  containers/content-collector/collectors/collection_monitor.py
  containers/content-collector/collectors/source_strategies.py
  containers/content-collector/collectors/web.py
  containers/content-collector/service_logic.py
  containers/content-collector/source_collectors.py
  containers/content-collector/tests/conftest.py
  containers/content-collector/tests/test_adaptive_collection.py
  containers/content-collector/tests/test_adaptive_integration.py
  containers/content-collector/tests/test_api_compliance.py
  containers/content-collector/tests/test_blob_metrics_integration.py
  containers/content-collector/tests/test_content_collection.py
  containers/content-collector/tests/test_coverage_improvements.py
  containers/content-collector/tests/test_discovery.py
  containers/content-collector/tests/test_fixtures.py
  containers/content-collector/tests/test_mastodon_collector.py
  containers/content-collector/tests/test_models.py
  containers/content-collector/tests/test_monitoring.py
  containers/content-collector/tests/test_queue_integration.py
  containers/content-collector/tests/test_reddit_client.py
  containers/content-collector/tests/test_reddit_security.py
  containers/content-collector/tests/test_service_core.py
  containers/content-collector/tests/test_service_logic.py
  containers/content-collector/tests/test_source_adaptive_strategies.py
  containers/content-collector/tests/test_source_collectors.py
  containers/content-collector/tests/test_standardized_api.py
  containers/content-collector/tests/test_storage_infrastructure.py
Due: semgrep
