Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

feat: Add Logic App workflow triggers and actions via Terraform
  infra/scheduler.tf
Due: terraform-quality, semgrep

feat: scheduler deployment fully completed
  TODO.md
Due: none

PHASE 1 COMPLETE: End-to-End Logic App Scheduler Validation
  .secrets.baseline
  TODO.md
  infra/container_apps.tf
  infra/scheduler.tf
  issue_comment.md
Due: terraform-quality, semgrep

cleanup: remove temporary files from repository
  issue_comment.md
Due: none

feat: implement Phase 1 Security - Service Bus + Azure Functions + KEDA
  .secrets.baseline
  containers/base/requirements-common.txt
  containers/content-collector/endpoints/__init__.py
  containers/content-collector/endpoints/servicebus_router.py
  containers/content-collector/main.py
  containers/content-processor/endpoints/servicebus_router.py
  containers/content-processor/main.py
  containers/site-generator/main.py
  containers/site-generator/servicebus_router.py
  functions/pipeline-orchestrator/function_app.py
  functions/pipeline-orchestrator/host.json
  functions/pipeline-orchestrator/requirements.txt
  infra/container_apps.tf
  infra/outputs.tf
  infra/pipeline_functions.tf
  infra/scheduler.tf
  libs/service_bus_client.py
  scripts/test-azure-ad-auth.sh
  scripts/test-servicebus-integration.sh
Due: terraform-quality, semgrep

fix: simplify requirements structure and resolve Service Bus dependency issues
  containers/base/requirements-common.txt
  containers/content-collector/requirements-prod.txt
  containers/content-collector/requirements-test.txt
  containers/content-collector/requirements-unique.txt
  containers/content-collector/requirements.txt
  containers/content-processor/requirements-prod.txt
  containers/content-processor/requirements.txt
  containers/site-generator/requirements.txt
  libs/shared_models.py
Due: semgrep

fix: resolve duplicate dependency conflicts in site-generator requirements
  containers/site-generator/requirements.txt
Due: none

docs: add comprehensive Phase 1 deployment issues log and cleanup action plan
  docs/PHASE1_CLEANUP_ACTION_PLAN.md
  docs/PHASE1_DEPLOYMENT_ISSUES_LOG.md
Due: none

infra: trigger terraform validation after Phase 1 requirements fixes
  infra/variables.tf
Due: terraform-quality, semgrep

fix: resolve Event Grid subscription dependency issue properly
  infra/pipeline_functions.tf
Due: terraform-quality, semgrep

Security: Fix Dependabot alerts #51 and #113
  containers/content-processor/external_api_client.py
  containers/content-processor/requirements.txt
Due: semgrep

fix: add missing tenacity dependency to content-processor
  containers/content-processor/requirements.txt
Due: none

fix: remove redundant Event Grid subscription
  infra/pipeline_functions.tf
Due: terraform-quality, semgrep

fix: Pipeline Fix Test - Issue #421 Dynamic Container Discovery
  .github/actions/deploy-from-registry/action.yml
  .github/actions/smart-deploy/action.yml
  .github/workflows/cicd-pipeline.yml
  containers/content-collector/main.py
  containers/content-processor/main.py
  containers/content-processor/requirements-prod.txt
  containers/site-generator/main.py
  docs/ISSUE_421_PIPELINE_FIX_COMPLETE.md
  infra/container_apps.tf
  infra/container_discovery.tf
  infra/test_outputs.tf
  infra/variables.tf
  scripts/terraform-discover-containers.sh
  scripts/validate-pipeline-fix.sh
Due: terraform-quality, actionlint, semgrep

fix: standardize containers to use requirements.txt only
  containers/content-collector/Dockerfile
  containers/content-processor/Dockerfile
  containers/content-processor/requirements-prod.txt
  containers/content-processor/requirements.txt
  scripts/monitor-pipeline-test.sh
Due: none

Remove Azure Functions complexity, implement manual collection triggers
  .secrets.baseline
  functions/pipeline-orchestrator/function_app.py
  functions/pipeline-orchestrator/host.json
  functions/pipeline-orchestrator/requirements.txt
  functions/static-site-deployer/function_app.py
  functions/static-site-deployer/host.json
  functions/static-site-deployer/package.json
  functions/static-site-deployer/requirements.txt
  infra/.infracost/pricing.gob
  infra/functions.tf
  infra/main.tf
  infra/outputs.tf
  infra/pipeline_functions.tf
  infra/scheduler.tf
  libs/collection_templates.py
  output/sbom/collector-scheduler-sbom.json
  output/sbom/content-collector-sbom.json
  output/sbom/content-enricher-sbom.json
  output/sbom/content-processor-sbom.json
  output/sbom/content-ranker-sbom.json
  output/sbom/libs-sbom.json
  output/sbom/markdown-generator-sbom.json
  output/sbom/site-generator-sbom.json
  sample_data/collection-templates/ai-ml-focused.json
  sample_data/collection-templates/business-tech.json
  sample_data/collection-templates/quick-pulse.json
  sample_data/collection-templates/science-research.json
  sample_data/collection-templates/technology-comprehensive.json
  scripts/test-collection.sh
Due: terraform-quality, semgrep

Fix CI/CD pipeline JSON output formatting
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

Force infrastructure deployment after Azure Functions removal
  infra/outputs.tf
Due: terraform-quality, semgrep

chore: remove obsolete local development setup and dependency files
  containers/README-local-dev.md
  containers/__init__.py
  containers/shared-versions.txt
  requirements-dev.txt
  requirements.txt
Due: semgrep

fix: add smart-deploy action content
  .github/actions/smart-deploy-optimized/action.yml
  .github/workflows/cicd-pipeline-old.yml.disabled
  .github/workflows/cicd-pipeline.yml.backup
  .github/workflows/optimized-cicd.yml
  containers/Dockerfile.template
  docs/CI_CD_OPTIMIZATION_PLAN.md
  docs/IMPLEMENTATION_CHECKLIST.md
  infra/tfplan
  infra/usage-estimates.yml
  pipeline-test-trigger.md
  scripts/fix-yaml.sh
  scripts/test-pipeline-optimization.sh
Due: actionlint, semgrep

test: Add comprehensive pipeline validation changes
  containers/content-collector/app/monitoring.py
  containers/content-collector/tests/test_monitoring.py
  containers/content-processor/app/monitoring.py
  infra/cost_monitoring.tf
  infra/main.tf
  pipeline-test-trigger.md
Due: terraform-quality, semgrep

fix: Resolve JSON output formatting in change detection
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

docs: Update pipeline test status after JSON fix
  pipeline-test-trigger.md
Due: none

test: Enhance monitoring modules for comprehensive pipeline test
  containers/content-collector/app/monitoring.py
  containers/content-processor/app/monitoring.py
  infra/main.tf
Due: terraform-quality, semgrep

fix: Add Terraform setup and improve deployment logic
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

feat: Remove conditional checks to run Terraform and containers on every push
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

feat: Let Terraform decide on state changes, not pipeline
  .github/actions/smart-deploy/action.yml
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix: Configure Terraform to use OIDC service principal authentication
  .github/actions/smart-deploy/action.yml
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix: Use consistent backend configuration between backend.tf and smart-deploy action
  .github/actions/smart-deploy/action.yml
Due: semgrep

fix: Simplify variable validation to use single regex pattern
  infra/variables.tf
Due: terraform-quality, semgrep

fix: Upgrade Terraform to version 1.8.5 for validation compatibility
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

feat: Update Terraform version to 1.13.2
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix: Remove conflicting workspace logic from Terraform deployment
  .github/actions/smart-deploy/action.yml
Due: semgrep

fix: Add missing environment variable for URL generation
  .github/actions/smart-deploy/action.yml
Due: semgrep

fix: Smart URL selection logic for deployment output
  .github/actions/smart-deploy/action.yml
Due: semgrep

feat: Parallelize security scans for 70% performance improvement
  .github/actions/security-code/action.yml
  .github/actions/security-containers/action.yml
  .github/actions/security-infrastructure/action.yml
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

feat: Unify container security scanning with parameterized action
  .github/actions/security-containers/action.yml
  .github/workflows/cicd-pipeline.yml
  containers/site-generator/Dockerfile
Due: actionlint, semgrep

fix: Mount workspace volume for Trivy image scanning output
  .github/actions/security-containers/action.yml
Due: semgrep

security: implement quick security wins
  .gitignore
  containers/content-collector/Dockerfile
  containers/content-collector/main.py
  containers/content-processor/Dockerfile
  containers/content-processor/main.py
  containers/site-generator/Dockerfile
  containers/site-generator/main.py
Due: semgrep

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
