Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: '^(.github/.*|.*\.template\.yml)$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs

  # Python code quality using our shared script
  - repo: local
    hooks:
      - id: python-code-quality
        name: Python Code Quality (Black + isort + flake8)
        entry: ./scripts/code-quality.sh
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Terraform formatting and validation
  - repo: local
    hooks:
      - id: terraform-quality
        name: Terraform Quality (Format + Validate)
        entry: ./scripts/terraform-quality.sh
        language: system
        files: '\.tf$'
        pass_filenames: false
        always_run: false
        require_serial: true

  # GitHub Actions linting
  - repo: local
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflows
        entry: ./scripts/actionlint-docker.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
        pass_filenames: true

  # YAML linting (excluding GitHub Actions which are handled above)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: '^\.github/workflows/.*\.ya?ml$'
        args: ['-d', 'relaxed']

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(tests/.*|.*\.lock|.*\.log)$'

  # Semgrep security scanning (blocking)
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep Security Scan
        entry: ./scripts/run-semgrep-precommit.sh
        language: system
        files: '\.(py|tf|yml|yaml|js|ts|json)$'
        pass_filenames: false

# Configuration for ci (optional, for pre-commit.ci service)
ci:
  autoupdate_schedule: weekly
  skip: [python-code-quality, actionlint, terraform-quality, semgrep]  # Skip local hooks on CI

fix: correct trending API endpoint and lower engagement thresholds
  collection-templates/quality-tech.json
  containers/content-collector/collectors/collect.py
Due: semgrep

fix(ci): detect collection-templates and container-config changes as infrastructure
  .github/actions/detect-changes/action.yml
Due: semgrep

chore: add comment about template fileset - triggers terraform to upload collection templates
  infra/openai.tf
Due: terraform-quality, semgrep

fix: force terraform to re-upload templates when file content changes
  infra/openai.tf
Due: terraform-quality, semgrep

fix: include file md5 hash in for_each to detect template content changes
  infra/openai.tf
Due: terraform-quality, semgrep

Fix echo messages in dependabot workflow
  .github/workflows/dependabot-automerge.yml
Due: actionlint, semgrep

Update deployment trigger date in openai.tf
  infra/openai.tf
Due: terraform-quality, semgrep
