Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

test: container-only change - update fastapi version
  containers/content-collector/requirements.txt
Due: none

test: infrastructure change - add test feature flag
  infra/variables.tf
Due: terraform-quality, semgrep

test: mixed change - container deps + docs update
  README.md
  containers/content-generator/requirements.txt
Due: none

test: multiple container changes - update multiple services
  containers/content-enricher/requirements.txt
  containers/content-processor/Dockerfile
Due: none

feat: enhance smart deployment to skip docs-only changes
  .github/actions/smart-deploy/action.yml
Due: semgrep

docs: add smart deployment feature note to quick start
  .secrets.baseline
  docs/QUICK_START_GUIDE.md
Due: none

fix: workflow changes should skip deployment
  .github/actions/smart-deploy/action.yml
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: workflow change to validate skip deployment
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix: improve git diff detection in smart deployment
  .github/actions/smart-deploy/action.yml
Due: semgrep

test: container-only change with improved git diff detection
  containers/content-collector/requirements.txt
Due: none

feat: implement modular CI/CD pipeline with conditional jobs
  .github/actions/fast-container-deploy/action.yml
  .github/workflows/modular-cicd-pipeline.yml
  branch-protection.json
  containers/content-collector/requirements.txt
  docs/IMPLEMENTATION_ROADMAP.md
  docs/INTEGRATED_CONTAINER_MANAGEMENT.md
  docs/PIPELINE_FIX_PLAN.md
  portfolio-branch-protection.json
  scripts/test-modular-pipeline.sh
  strict-branch-protection.json
Due: actionlint, semgrep

test(container-single): single container update for
  containers/main.py
Due: semgrep

test(container): single container change for content-collector
  containers/content-collector/main.py
Due: semgrep

feat: finalize modular CI/CD pipeline implementation
  .github/workflows/cicd-pipeline.yml
  .github/workflows/modular-cicd-pipeline.yml
  .github/workflows/pipeline-testing.yml
  containers/content-collector/main.py
  docs/IMPLEMENTATION_ROADMAP.md
Due: actionlint, semgrep

feat: add large file detector workflow
  .github/workflows/large-file-detector.yml
  .github/workflows/test-azure-oidc.yml
  .github/workflows/test-container-actions.yml
Due: actionlint, semgrep

fix: handle arithmetic expression exit code in large file detector
  .github/workflows/large-file-detector.yml
Due: actionlint, semgrep

refactor: Split content-ranker main.py into modular API endpoints
  containers/content-ranker/api_endpoints.py
  containers/content-ranker/legacy_endpoints.py
  containers/content-ranker/main.py
Due: semgrep

Modify large-file-detector workflow to create individual issues per large file
  .github/workflows/large-file-detector.yml
Due: actionlint, semgrep

Potential fix for code scanning alert no. 90: Information exposure through an exception
  containers/content-ranker/service_logic.py
Due: semgrep

feat(content-ranker): Complete implementation and API standardization
  containers/content-ranker/api_endpoints.py
  containers/content-ranker/main.py
  containers/content-ranker/models.py
  containers/content-ranker/tests/test_main.py
  containers/content-ranker/tests/test_standardized_api.py
Due: semgrep

fix(security): Prevent information exposure through exception messages
  containers/content-ranker/service_logic.py
Due: semgrep

Refactor collector to Topic Intelligence system
  .github/workflows/security-auto-resolution.yml
  README.md
  TODO-REFACTOR.md
  TODO.md
  containers/content-collector/Dockerfile.intelligence
  containers/content-collector/Dockerfile.production
  containers/content-collector/main_production.py
  containers/content-collector/main_topic_intelligence.py
  containers/content-ranker/main.py
  docs/AGENT_SECURITY_IMPLEMENTATION.md
  docs/SECURITY_AGENT_STRATEGY.md
  docs/SECURITY_FIX_EXAMPLE.md
  infra/.infracost/pricing.gob
  scripts/security_agent.py
  tests/security/test_security_fixes.py
Due: actionlint, semgrep

feat: implement topic intelligence collector
  containers/content-collector/Dockerfile.intelligence
  containers/content-collector/Dockerfile.production
  containers/content-collector/main.py
  containers/content-collector/main_production.py
  containers/content-collector/main_topic_intelligence.py
Due: semgrep

feat: enable external access with IP restrictions for all containers
  .secrets.baseline
  TODO.md
  check-containers.sh
  containers/main.py
  infra/container_apps.tf
  infra/main.tf
Due: terraform-quality, semgrep

fix: Resolve workflow linting issues for infrastructure deployment
  .github/workflows/cicd-pipeline.yml
  .github/workflows/security-auto-resolution.yml
Due: actionlint, semgrep

test: Verify infrastructure deployment fix
  infra/main.tf
Due: terraform-quality, semgrep

debug: Add deployment condition debugging
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

debug: Trigger infrastructure deployment with debug info
  infra/main.tf
Due: terraform-quality, semgrep

fix: Remove duplicate deployment job and fix syntax
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: Final infrastructure deployment test
  infra/main.tf
Due: terraform-quality, semgrep

fix: Remove emoji from workflow output
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: Test simplified deployment condition
  infra/main.tf
Due: terraform-quality, semgrep

fix: Enable Terraform deployments by removing branch restrictions
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: Trigger Terraform deployment after pipeline fix
  infra/main.tf
Due: terraform-quality, semgrep

fix: Remove environment protection for personal GitHub repo
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: Trigger Terraform deployment without environment protection
  infra/main.tf
Due: terraform-quality, semgrep

fix: Simplify deployment job conditions
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: Trigger Terraform deployment with simplified conditions
  infra/main.tf
Due: terraform-quality, semgrep

fix: Correct deployment job conditions based on infrastructure needs
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: Trigger Terraform deployment with corrected conditions
  infra/main.tf
Due: terraform-quality, semgrep

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
