Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

feat: Phase 2 - Quality integration with item-level review
  containers/content-collector/pipeline/stream.py
  containers/content-collector/quality/__init__.py
  containers/content-collector/quality/review.py
  containers/content-collector/tests/test_quality_review.py
  docs/COLLECTOR_STREAMING_REFACTOR.md
Due: semgrep

feat: Phase 3 - HTTP endpoint for manual collection testing (Container App API key auth)
  containers/content-collector/auth/__init__.py
  containers/content-collector/auth/validate_auth.py
  containers/content-collector/endpoints/trigger.py
  containers/content-collector/tests/test_trigger_endpoint.py
  docs/COLLECTOR_STREAMING_REFACTOR.md
Due: semgrep

refactor: Phase 4 - Remove old batch collection code (simple_*.py, content_processing_simple.py, old tests)
  containers/content-collector/collectors/simple_base.py
  containers/content-collector/collectors/simple_mastodon.py
  containers/content-collector/collectors/simple_reddit.py
  containers/content-collector/collectors/simple_rss.py
  containers/content-collector/collectors/simple_web.py
  containers/content-collector/content_processing_simple.py
  containers/content-collector/endpoints/__init__.py
  containers/content-collector/tests/test_integration_simple.py
  containers/content-collector/tests/test_rss_functionality.py
  containers/content-collector/tests/test_simplified_collectors.py
  containers/content-collector/tests/test_template_loading.py
Due: semgrep

Phase 4: Consolidate quality files into quality/ subdirectory
  containers/content-collector/FILE_STATUS_SUMMARY.md
  containers/content-collector/README.md
  containers/content-collector/SIMPLIFIED_COLLECTOR_SUCCESS.md
  containers/content-collector/TEST_COVERAGE_ANALYSIS.md
  containers/content-collector/endpoints/__init__.py
  containers/content-collector/endpoints/collections.py
  containers/content-collector/endpoints/diagnostics.py
  containers/content-collector/endpoints/discoveries.py
  containers/content-collector/endpoints/reprocess.py
  containers/content-collector/endpoints/sources.py
  containers/content-collector/endpoints/storage_queue_router.py
  containers/content-collector/endpoints/templates.py
  containers/content-collector/endpoints/trigger.py
  containers/content-collector/main.py
  containers/content-collector/quality/__init__.py
  containers/content-collector/quality/config.py
  containers/content-collector/quality/dedup.py
  containers/content-collector/quality/detectors.py
  containers/content-collector/quality/gate.py
  containers/content-collector/quality/scoring.py
  containers/content-collector/tests/test_pipeline_e2e.py
  containers/content-collector/tests/test_quality_config.py
  containers/content-collector/tests/test_quality_dedup.py
  containers/content-collector/tests/test_quality_detectors.py
  containers/content-collector/tests/test_quality_gate.py
  containers/content-collector/tests/test_quality_scoring.py
  docs/COLLECTOR_STREAMING_REFACTOR.md
  docs/ENDPOINT_CLEANUP_DECISION.md
  docs/FIX_COMPLETED_GH_1166.md
  docs/MESSAGE_DEQUEUE_IMPLEMENTATION_READY.md
  docs/QUALITY_GATE_IMPLEMENTATION.md
  docs/QUALITY_GATE_README.md
  docs/QUALITY_GATE_TESTING.md
  docs/QUALITY_GATE_TESTING_COMPLETE.md
  scripts/trigger_markdown_rebuild.py
Due: semgrep

Final cleanup: Remove dead code and unused Dockerfiles
  containers/content-collector/Dockerfile.alpine-optimized
  containers/content-collector/Dockerfile.optimized
  containers/content-collector/Dockerfile.uv
  containers/content-collector/Dockerfile.wheels-only
  containers/content-collector/collectors/web.py
  containers/content-collector/collectors/web_standardizers.py
  containers/content-collector/collectors/web_strategies.py
  containers/content-collector/collectors/web_utilities.py
  containers/content-collector/test_simplified_system.py
Due: semgrep

Remove dead code: obsolete class-based modules
  containers/content-collector/collection_storage_utils.py
  containers/content-collector/discovery.py
  containers/content-collector/keyvault_client.py
  containers/content-collector/reddit_client.py
  containers/content-collector/service_logic.py
  containers/content-collector/tests/test_topic_fanout.py
Due: semgrep

Remove additional dead code: topic_fanout.py
  containers/content-collector/topic_fanout.py
Due: semgrep

Remove unused API models: models.py and test_models.py
  containers/content-collector/main.py
  containers/content-collector/models.py
  containers/content-collector/tests/test_models.py
Due: semgrep

Remove unused monitoring module and test (125 lines)
  containers/content-collector/app/monitoring.py
  containers/content-collector/tests/endpoints/test_api_standardization.py
  containers/content-collector/tests/test_fixtures.py
  containers/content-collector/tests/test_monitoring.py
Due: semgrep

Remove empty test file: test_source_adaptive_strategies.py (17 lines)
  containers/content-collector/tests/test_source_adaptive_strategies.py
Due: semgrep

Fix all 10 additional PR review comments 9-17
  containers/content-collector/endpoints/storage_queue_router.py
  containers/content-collector/endpoints/trigger.py
  containers/content-collector/pipeline/rate_limit.py
  containers/content-collector/pipeline/stream.py
  containers/content-collector/quality/config.py
  containers/content-collector/quality/dedup.py
  containers/content-collector/quality/gate.py
  containers/content-collector/quality/scoring.py
  containers/content-collector/tests/test_quality_config.py
  containers/content-collector/tests/test_source_adaptive_strategies.py
Due: semgrep

Add CodeQL suppressions with security documentation
  containers/content-collector/endpoints/storage_queue_router.py
  containers/content-collector/quality/config.py
Due: semgrep

Potential fix for code scanning alert no. 279: Information exposure through an exception
  containers/content-collector/endpoints/storage_queue_router.py
Due: semgrep

Extend large file detection threshold from 500 to 550 lines
  .github/workflows/large-file-detector.yml
Due: actionlint, semgrep

Potential fix for code scanning alert no. 280: Information exposure through an exception
  containers/content-collector/endpoints/storage_queue_router.py
Due: semgrep

refactor: Add security documentation to error sanitization function
  containers/content-collector/endpoints/storage_queue_router.py
Due: semgrep

fix: Reformat long dictionary value in health check response for Black compliance
  containers/content-collector/endpoints/storage_queue_router.py
Due: semgrep

Disable Reddit collection pending OAuth implementation
  collection-templates/default.json
  containers/content-collector/README.md
  containers/content-collector/REDDIT_OAUTH_TODO.md
  containers/content-collector/collectors/collect.py
Due: semgrep

feat: Add automatic startup collection to content-collector container
  TODO.md
  containers/content-collector/main.py
  containers/content-collector/tests/test_startup_collection.py
  docs/COLLECTION_SCHEDULING_DESIGN.md
  docs/STARTUP_DEPLOYMENT_CHECKLIST.md
  docs/TERRAFORM_STARTUP_CONFIG.md
  docs/archived/startup-collection-session/STARTUP_COLLECTION_IMPLEMENTATION.md
  docs/archived/startup-collection-session/STARTUP_IMPLEMENTATION_SUMMARY.md
  infra/container_app_collector.tf
Due: terraform-quality, semgrep

Fix: Completely rebuild startup collection tests with working implementations
  containers/content-collector/main.py
  containers/content-collector/tests/test_startup_collection.py
Due: semgrep

chore: Disable formatOnSave to prevent conflicts with pre-commit hooks
  .devcontainer/devcontainer.json
Due: semgrep

feat: Add automatic startup collection to content-collector container
  .devcontainer/devcontainer.json
  TODO.md
  containers/content-collector/main.py
  containers/content-collector/tests/test_startup_collection.py
  docs/COLLECTION_SCHEDULING_DESIGN.md
  docs/STARTUP_DEPLOYMENT_CHECKLIST.md
  docs/TERRAFORM_STARTUP_CONFIG.md
  docs/archived/startup-collection-session/STARTUP_COLLECTION_IMPLEMENTATION.md
  docs/archived/startup-collection-session/STARTUP_IMPLEMENTATION_SUMMARY.md
  infra/container_app_collector.tf
Due: terraform-quality, semgrep

refactor: Use COLLECTION_TEMPLATE environment variable for startup collection
  containers/content-collector/main.py
  infra/container_app_collector.tf
Due: terraform-quality, semgrep

docs: Add inline comments explaining path resolution precedence for templates
  containers/content-collector/main.py
Due: semgrep

refactor: Re-enable formatOnSave with explicit Python formatter configuration
  .devcontainer/devcontainer.json
Due: semgrep

refactor: Use COLLECTION_TEMPLATE environment variable for startup collection
  .devcontainer/devcontainer.json
  containers/content-collector/main.py
  infra/container_app_collector.tf
Due: terraform-quality, semgrep

fix: Load collection templates from blob storage with filesystem fallback
  .github/workflows/cicd-pipeline.yml
  containers/content-collector/main.py
Due: actionlint, semgrep

fix: Retrieve storage account name from Terraform output for template upload
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

refactor: Upload collection templates via Terraform instead of CI/CD step
  .github/workflows/cicd-pipeline.yml
  infra/outputs.tf
  infra/storage.tf
Due: terraform-quality, actionlint, semgrep

refactor: Remove duplicate collection_templates from storage.tf - keep single source of truth in openai.tf
  infra/storage.tf
Due: terraform-quality, semgrep

Fix content collector quality filtering - add strict/permissive modes
  containers/content-collector/main.py
  containers/content-collector/pipeline/stream.py
  containers/content-collector/quality/review.py
  containers/content-collector/test_quality_modes.py
  docs/QUALITY_FILTERING_FIX.md
  infra/storage.tf
Due: terraform-quality, semgrep

Fix collection template parsing for array-based source format
  containers/content-collector/main.py
Due: semgrep

fix(containers): handle string instances from template format
  containers/content-collector/main.py
Due: semgrep

feat(logging): add detailed rejection reason tracking and logging
  containers/content-collector/main.py
  containers/content-collector/pipeline/stream.py
Due: semgrep

fix(collectors): apply template criteria to mastodon collection
  containers/content-collector/main.py
Due: semgrep

debug(collectors): add detailed mastodon collection logging
  containers/content-collector/collectors/collect.py
Due: semgrep

debug(pipeline): add stream item arrival logging
  containers/content-collector/pipeline/stream.py
Due: semgrep

refactor: make mastodon timeline configurable per template
  collection-templates/quality-tech.json
  containers/content-collector/collectors/collect.py
  containers/content-collector/main.py
Due: semgrep

chore(logging): add timeline to collection status log
  containers/content-collector/main.py
Due: semgrep

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
