Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

fix(site-generator): Use correct context structure for site generation
  containers/site-generator/storage_queue_router.py
Due: semgrep

feat(site-generator): Implement queue trigger for automated HTML generation
  .pre-commit-config.yaml
  config/.flake8
  containers/site-generator/QUEUE_TRIGGER_IMPLEMENTATION.md
  containers/site-generator/article_loading.py
  containers/site-generator/content_processing_functions.py
  containers/site-generator/functional_config.py
  containers/site-generator/html_feed_generation.py
  containers/site-generator/models.py
  containers/site-generator/queue_processor.py
  containers/site-generator/queue_trigger_functions.py
  containers/site-generator/storage_queue_router.py
  containers/site-generator/tests/test_behavior_validation.py
  containers/site-generator/tests/test_essential_contracts.py
  containers/site-generator/tests/test_function_coverage.py
  containers/site-generator/tests/test_queue_trigger_functions.py
  containers/site-generator/tests/test_storage_queue_processing.py
  containers/site-generator/theme_manager.py
  docs/SITE_GENERATOR_ARCHITECTURE_REVIEW.md
Due: semgrep

chore: Re-add E501 to flake8 ignore list
  config/.flake8
Due: none

chore(site-generator): Update version to 2.0.0 - Queue trigger implementation
  containers/site-generator/main.py
Due: semgrep

fix(site-generator): Fix relative import causing CI test failure
  containers/site-generator/article_loading.py
Due: semgrep

feat(infra): Enable auto-shutdown for site-generator KEDA scaling
  infra/container_apps.tf
Due: terraform-quality, semgrep

feat(infra): Enable auto-shutdown for all containers
  infra/container_apps.tf
Due: terraform-quality, semgrep

feat(libs): Add shared queue trigger functions for pipeline orchestration
  libs/__init__.py
  libs/queue_triggers.py
Due: semgrep

feat(pipeline): Implement queue triggers after successful blob writes
  containers/content-collector/endpoints/collections.py
  containers/content-collector/service_logic.py
  containers/content-processor/processor.py
  containers/content-processor/services/processor_storage.py
  containers/site-generator/content_processing_functions.py
Due: semgrep

refactor(content-processor): Apply import standards to processor.py
  containers/content-processor/IMPORT_STANDARDS.md
  containers/content-processor/processor.py
Due: semgrep

fix(infra): Set min_replicas=1 to bypass KEDA authentication issue
  infra/container_apps.tf
Due: terraform-quality, semgrep

feat(infra): Configure KEDA managed identity + upgrade azurerm provider
  infra/container_apps.tf
  infra/container_apps_keda_auth.tf
  infra/providers.tf
  scripts/configure-keda-auth.sh
Due: terraform-quality, semgrep

fix(infra): Fix KEDA auth provisioner + remove deprecated resources
  infra/container_apps.tf
  infra/container_apps_keda_auth.tf
  infra/main.tf
Due: terraform-quality, semgrep

infra: Add lifecycle blocks to storage queues
  infra/main.tf
Due: terraform-quality, semgrep

feat(processor): Add enhanced_metadata field to TopicMetadata
  containers/content-processor/models.py
Due: semgrep

fix(processor): Serialize Pydantic objects before JSON upload
  containers/content-processor/services/article_generation.py
Due: semgrep

fix(processor): Resolve type errors in topic_discovery
  containers/content-processor/services/topic_discovery.py
Due: semgrep

ci: Add retry logic to Terraform quality checks
  .github/actions/infrastructure-quality/action.yml
Due: semgrep

chore(processor): Bump version to 1.0.1 for serialization fix
  containers/content-processor/config.py
Due: semgrep

fix(queue): Properly close async iterator to fix message receive
  containers/content-processor/config.py
  libs/queue_client.py
Due: semgrep

fix(processor): Convert datetime objects to ISO strings for JSON serialization
  containers/content-processor/content_generation.py
  containers/content-processor/endpoints/storage_queue_router.py
Due: semgrep

feat(processor): Read collection files from queue payload for efficient processing
  containers/content-processor/endpoints/processing.py
  containers/content-processor/endpoints/storage_queue_router.py
  containers/content-processor/models.py
  containers/content-processor/processor.py
  containers/content-processor/services/topic_discovery.py
  docs/DATA_MODEL_PRAGMATIC_APPROACH.md
Due: semgrep

fix(libs): Add functional datetime serialization to SimplifiedBlobClient
  libs/simplified_blob_client.py
  libs/test_datetime_serialization.py
Due: semgrep

fix(processor): Close httpx AsyncClient on shutdown to prevent resource leaks
  containers/content-processor/main.py
Due: semgrep

Fix site-generator to accept article_content field from processor
  containers/site-generator/content_processing_functions.py
  containers/site-generator/content_utility_functions.py
Due: semgrep

Fix site-generator to accept article_content field from processor (#572)
  containers/site-generator/content_processing_functions.py
  containers/site-generator/content_utility_functions.py
Due: semgrep

Fix HTML generation: add missing url and published_date fields
  containers/site-generator/content_utility_functions.py
Due: semgrep

fix: Use sanitized title for HTML filenames to prevent overwrites
  containers/site-generator/content_utility_functions.py
Due: semgrep

fix: Use sanitized title for HTML filenames to prevent overwrites (#576)
  containers/site-generator/content_utility_functions.py
Due: semgrep

fix: Output HTML site to $web container for live Azure Static Website hosting
  containers/site-generator/README.md
  containers/site-generator/functional_config.py
  infra/container_apps.tf
  infra/main.tf
Due: terraform-quality, semgrep

fix(site-generator): Address PR #577 Copilot review comments
  containers/site-generator/README.md
  containers/site-generator/content_utility_functions.py
  containers/site-generator/tests/test_function_coverage.py
Due: semgrep

fix: Output HTML site to $web container for Azure Static Website hosting (#577)
  containers/site-generator/README.md
  containers/site-generator/content_utility_functions.py
  containers/site-generator/functional_config.py
  containers/site-generator/tests/test_function_coverage.py
  infra/container_apps.tf
  infra/main.tf
Due: terraform-quality, semgrep

style: Apply Black formatting to site-generator files
  docs/E2E_DATETIME_VALIDATION.md
  docs/site-generator/site-generator-refactor.md
Due: none

feat: re-enable dependabot auto-merge workflow for safe dependency updates
  .github/workflows/dependabot-automerge.yml
Due: actionlint, semgrep

fix: correct field name in dependabot auto-merge workflow
  .github/workflows/dependabot-automerge.yml
Due: actionlint, semgrep

Fix index.html: Add article sorting, deduplication, and last_updated
  containers/site-generator/INDEX_FIX_SUMMARY.md
  containers/site-generator/article_processing.py
  containers/site-generator/content_utility_functions.py
  containers/site-generator/html_page_generation.py
  containers/site-generator/tests/test_article_processing.py
Due: semgrep

refactor: Remove 5 unused blob storage containers
  docs/BLOB_CONTAINER_CLEANUP.md
  docs/PIPELINE_DEDUPLICATION_STRATEGY.md
  docs/PYTHON_CLEANUP_SUMMARY.md
  docs/SITE_REGENERATION_TRIGGER.md
  infra/main.tf
  infra/outputs.tf
  libs/app_config.py
  libs/config_base.py
  libs/startup_config.py
Due: terraform-quality, semgrep

feat: Add quality content templates and automate template deployment
  README.md
  TODO.md
  collection-templates/README.md
  collection-templates/ai-research.json
  collection-templates/quality-tech.json
  infra/main.tf
  infra/outputs.tf
Due: terraform-quality, semgrep

Fix site-generator: Skip old markdown files without generated_at field
  containers/site-generator/content_utility_functions.py
Due: semgrep

fix(libs): Auto-detect content-type for HTML/XML/JSON files in upload_text
  libs/simplified_blob_client.py
Due: semgrep

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
