Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

Fix YAML frontmatter issues and add build resilience
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/templates/minimal.md.j2
  containers/markdown-generator/templates/with-toc.md.j2
  containers/markdown-generator/tests/test_templates.py
  containers/site-publisher/content_downloader.py
  containers/site-publisher/tests/test_content_downloader.py
  docs/YAML_FRONTMATTER_FIX.md
Due: semgrep

Fix site-publisher test failures
  containers/site-publisher/content_downloader.py
  containers/site-publisher/tests/conftest.py
Due: semgrep

Fix Hugo theme configuration for testing
  containers/site-publisher/hugo_builder.py
  containers/site-publisher/tests/test_hugo_integration.py
Due: semgrep

fix: Critical YAML frontmatter bug and Terraform scaling drift
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/templates/with-toc.md.j2
  docs/CRITICAL_FIXES_SUMMARY.md
  docs/KEDA_CONFIGURATION_CORRECTED_ANALYSIS.md
  docs/KEDA_SCALING_INVESTIGATION_REPORT.md
  docs/LOGGING_IMPROVEMENTS_NEEDED.md
  docs/MARKDOWN_GENERATOR_PERFORMANCE_TUNING.md
  docs/MARKDOWN_GENERATOR_SCALING_ISSUE.md
  docs/MARKDOWN_YAML_BUG_FIX.md
  docs/PROCESSOR_LOGGING_ISSUES.md
  docs/PRODUCTION_SCALING_CONFIGS.md
  docs/SITE_PUBLISHER_ISSUES.md
  docs/SITE_PUBLISHER_TEST_PLAN.md
  infra/container_app_collector.tf
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
  infra/tfplan
Due: terraform-quality, semgrep

chore: Trigger markdown-generator rebuild after state lock clear
  containers/markdown-generator/Dockerfile
Due: none

fix: Upgrade Hugo PaperMod theme to v8.0 for Hugo v0.151.0 compatibility
  containers/site-publisher/Dockerfile
Due: none

fix: Use PaperMod master branch for Hugo 0.151.0 compatibility
  containers/site-publisher/Dockerfile
Due: none

feat(markdown-generator): Implement Hugo-compliant frontmatter with extensible architecture
  containers/markdown-generator/markdown_generation.py
  containers/markdown-generator/markdown_processor.py
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/templates/minimal.md.j2
  containers/markdown-generator/templates/with-toc.md.j2
  containers/markdown-generator/tests/test_hugo_frontmatter_validation.py
  containers/markdown-generator/tests/test_markdown_processor_integration.py
  containers/markdown-generator/tests/test_outcomes.py
  containers/markdown-generator/tests/test_templates.py
  docs/HUGO_FRONTMATTER_INTEGRATION.md
  sample_data/markdown-generator/README.md
  sample_data/markdown-generator/sample_mastodon_1.json
  sample_data/markdown-generator/sample_mastodon_2.json
  sample_data/markdown-generator/sample_rss_1.json
  sample_data/markdown-generator/sample_rss_2.json
Due: semgrep

fix: Remove hardcoded Azure storage account name from README
  sample_data/markdown-generator/README.md
Due: none

feat(markdown-generator): Implement Hugo-compliant frontmatter with extensible architecture (#609)
  containers/markdown-generator/markdown_generation.py
  containers/markdown-generator/markdown_processor.py
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/templates/minimal.md.j2
  containers/markdown-generator/templates/with-toc.md.j2
  containers/markdown-generator/tests/test_hugo_frontmatter_validation.py
  containers/markdown-generator/tests/test_markdown_processor_integration.py
  containers/markdown-generator/tests/test_outcomes.py
  containers/markdown-generator/tests/test_templates.py
  docs/HUGO_FRONTMATTER_INTEGRATION.md
  sample_data/markdown-generator/README.md
  sample_data/markdown-generator/sample_mastodon_1.json
  sample_data/markdown-generator/sample_mastodon_2.json
  sample_data/markdown-generator/sample_rss_1.json
  sample_data/markdown-generator/sample_rss_2.json
Due: semgrep

fix(site-publisher): Update frontmatter validation to match Hugo spec
  containers/site-publisher/content_downloader.py
Due: semgrep

fix(site-publisher): Update test fixtures to Hugo-compliant frontmatter
  containers/site-publisher/tests/conftest.py
  containers/site-publisher/tests/test_content_downloader.py
Due: semgrep

fix(site-publisher): Fix blob upload and container lifecycle issues
  containers/site-publisher/app.py
  containers/site-publisher/hugo_builder.py
Due: semgrep

fix(markdown-generator): Implement continuous queue polling like site-publisher
  containers/markdown-generator/queue_processor.py
Due: semgrep

fix(content-processor): Implement continuous queue polling
  containers/content-processor/main.py
Due: semgrep

feat(containers): Add graceful self-termination after idle timeout
  containers/content-processor/main.py
  containers/markdown-generator/queue_processor.py
  containers/site-publisher/app.py
Due: semgrep

feat(infra): Add MAX_IDLE_TIME_SECONDS environment variable to containers
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
Due: terraform-quality, semgrep

docs: Add graceful termination implementation guide
  docs/GRACEFUL_TERMINATION_IMPLEMENTATION.md
Due: none

feat(containers): Add timestamp to idle queue polling logs
  containers/content-processor/main.py
  containers/markdown-generator/queue_processor.py
  containers/site-publisher/app.py
Due: semgrep

Fix HTML heading hierarchy issues via TDD approach
  containers/content-processor/openai_client.py
  containers/content-processor/openai_operations.py
  containers/content-processor/tests/test_article_heading_structure.py
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/templates/minimal.md.j2
  containers/markdown-generator/templates/with-toc.md.j2
  containers/markdown-generator/tests/test_heading_hierarchy.py
  containers/site-publisher/hugo-config/config.toml
  docs/HTML_HEADING_HIERARCHY_FIX_TDD_SUMMARY.md
Due: semgrep

Fix test that was checking for H1 in template output
  containers/markdown-generator/tests/test_templates.py
Due: semgrep

Fix HTML heading hierarchy via TDD
  containers/content-processor/openai_client.py
  containers/content-processor/openai_operations.py
  containers/content-processor/tests/test_article_heading_structure.py
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/templates/minimal.md.j2
  containers/markdown-generator/templates/with-toc.md.j2
  containers/markdown-generator/tests/test_heading_hierarchy.py
  containers/markdown-generator/tests/test_templates.py
  containers/site-publisher/hugo-config/config.toml
  docs/HTML_HEADING_HIERARCHY_FIX_TDD_SUMMARY.md
Due: semgrep

security: Update aiohttp to >=3.12.14 across all containers (CVE-2025-53643)
  containers/content-collector/requirements.txt
  containers/content-processor/requirements.txt
  containers/markdown-generator/requirements.txt
  containers/site-publisher/requirements.txt
  docs/FOCUSED_IMPROVEMENTS_PLAN.md
  docs/SECURITY_UPDATE_OCT2025.md
Due: none

feat: Add Unsplash stock image integration to markdown generator
  containers/markdown-generator/blob_operations.py
  containers/markdown-generator/config.py
  containers/markdown-generator/main.py
  containers/markdown-generator/markdown_generation.py
  containers/markdown-generator/markdown_generator.py
  containers/markdown-generator/markdown_processor.py
  containers/markdown-generator/metadata_utils.py
  containers/markdown-generator/models.py
  containers/markdown-generator/queue_processor.py
  containers/markdown-generator/requirements.txt
  containers/markdown-generator/services/image_service.py
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/templates/minimal.md.j2
  containers/markdown-generator/templates/with-toc.md.j2
  containers/markdown-generator/tests/conftest.py
  containers/markdown-generator/tests/test_image_service.py
  containers/markdown-generator/tests/test_markdown_processor_integration.py
  containers/markdown-generator/tests/test_outcomes.py
  containers/markdown-generator/tests/test_templates.py
  docs/COLLECTION_SCALING_ARCHITECTURE.md
  docs/HTML_HEADING_HIERARCHY_VALIDATION.md
  docs/PRODUCTION_QUALITY_PLAN.md
  docs/PROJECT_ANALYSIS_OCT2025.md
  docs/SITE_PUBLISHER_CHECKLIST.md
  docs/STOCK_IMAGES_IMPLEMENTATION.md
  docs/UNSPLASH_CREDENTIALS_SETUP.md
  infra/container_app_markdown_generator.tf
  infra/data_sources.tf
  infra/key_vault.tf
Due: terraform-quality, semgrep

fix: Fix isort import ordering in test_image_service.py
  containers/markdown-generator/tests/test_image_service.py
Due: semgrep

Fix: Use PaperMod cover structure for images
  containers/markdown-generator/markdown_generation.py
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/templates/minimal.md.j2
  containers/markdown-generator/templates/with-toc.md.j2
Due: semgrep

Fix: Limit cover image height on index pages
  containers/site-publisher/hugo-config/assets/css/custom.css
  containers/site-publisher/hugo-config/config.toml
Due: none

Add hero banner styling for homepage H1
  containers/site-publisher/hugo-config/assets/css/custom.css
Due: none

Optimize homepage layout: reduce padding and add masthead image
  containers/site-publisher/hugo-config/assets/css/custom.css
Due: none

UI: Improve layout responsiveness and reduce wasted space
  containers/site-publisher/hugo-config/assets/css/custom.css
Due: none

infra: Align Terraform KEDA config with current Azure state
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_apps_keda_auth.tf
Due: terraform-quality, semgrep

Fix markdown-generator site-publisher signaling with stable empty queue pattern
  containers/markdown-generator/queue_processor.py
  docs/MARKDOWN_GENERATOR_SIGNALING_FIX.md
  infra/container_app_markdown_generator.tf
Due: terraform-quality, semgrep

feat(site-publisher): Add hero section with Unsplash image attribution
  containers/site-publisher/hugo-config/layouts/index.html
  containers/site-publisher/hugo-config/layouts/partials/hero-attribution.html
  containers/site-publisher/hugo-config/static/css/custom.css
Due: none

feat(keda-auth): Enhance KEDA configuration for site publisher and markdown generator
  TODO.md
  infra/container_apps_keda_auth.tf
  scripts/configure-keda-auth.sh
Due: terraform-quality, semgrep

Add proper source attribution to articles
  containers/markdown-generator/markdown_generation.py
  containers/markdown-generator/markdown_generator.py
  containers/site-publisher/hugo-config/layouts/_default/single.html
  containers/site-publisher/hugo-config/layouts/partials/source-attribution.html
  containers/site-publisher/hugo-config/static/css/custom.css
Due: semgrep

feat: Add markdown post-processing to fix malformed AI headings
  containers/content-processor/main.py
  containers/content-processor/markdown_cleaner.py
  containers/content-processor/openai_client.py
  containers/content-processor/requirements.txt
Due: semgrep

fix: Copy Hugo layouts and static files to build directory
  containers/site-publisher/site_builder.py
Due: semgrep

fix: Allow extra environment variables in Settings config
  containers/content-processor/config.py
Due: semgrep

fix: Address Copilot review comments from PR #638
  containers/content-processor/docs/ARCHITECTURE_REVIEW.md
  containers/content-processor/docs/OPTIMIZATION_ANALYSIS.md
  containers/content-processor/models/api_models.py
  containers/content-processor/operations/topic_operations.py
  containers/content-processor/test_imports.py
  containers/content-processor/validate_container.py
  containers/site-publisher/site_builder.py
  docs/ACTION_PLAN_REVISED.md
Due: semgrep

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
