Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: '^(.github/.*|.*\.template\.yml)$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs

  # Python code quality using our shared script
  - repo: local
    hooks:
      - id: python-code-quality
        name: Python Code Quality (Black + isort + flake8)
        entry: ./scripts/code-quality.sh
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Terraform formatting and validation
  - repo: local
    hooks:
      - id: terraform-quality
        name: Terraform Quality (Format + Validate)
        entry: ./scripts/terraform-quality.sh
        language: system
        files: '\.tf$'
        pass_filenames: false
        always_run: false
        require_serial: true

  # GitHub Actions linting
  - repo: local
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflows
        entry: ./scripts/actionlint-docker.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
        pass_filenames: true

  # YAML linting (excluding GitHub Actions which are handled above)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: '^\.github/workflows/.*\.ya?ml$'
        args: ['-d', 'relaxed']

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(tests/.*|.*\.lock|.*\.log)$'

  # Semgrep security scanning (blocking)
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep Security Scan
        entry: ./scripts/run-semgrep-precommit.sh
        language: system
        files: '\.(py|tf|yml|yaml|js|ts|json)$'
        pass_filenames: false

# Configuration for ci (optional, for pre-commit.ci service)
ci:
  autoupdate_schedule: weekly
  skip: [python-code-quality, actionlint, terraform-quality, semgrep]  # Skip local hooks on CI

refactor(site-generator): radically simplify filename handling - trust processor metadata
  containers/site-generator/content_utility_functions.py
Due: semgrep

fix(tests): update duplicate title test to match new filename behavior
  containers/site-generator/tests/test_function_coverage.py
Due: semgrep

fix(processor): remove '...' from truncated slugs - breaks URLs and filenames
  containers/content-processor/metadata_generator.py
Due: semgrep

feat: add markdown-generator container with Jinja2 templates
  containers/content-processor/processor.py
  containers/markdown-generator/.dockerignore
  containers/markdown-generator/.flake8
  containers/markdown-generator/Dockerfile
  containers/markdown-generator/__init__.py
  containers/markdown-generator/config.py
  containers/markdown-generator/main.py
  containers/markdown-generator/markdown_processor.py
  containers/markdown-generator/models.py
  containers/markdown-generator/requirements.txt
  containers/markdown-generator/templates/README.md
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/templates/minimal.md.j2
  containers/markdown-generator/templates/with-toc.md.j2
  containers/markdown-generator/tests/conftest.py
  containers/markdown-generator/tests/test_config.py
  containers/markdown-generator/tests/test_outcomes.py
  containers/markdown-generator/tests/test_templates.py
  containers/site-generator/storage_queue_router.py
  docs/CODE_STANDARDS_SITE_GENERATOR_SPLIT.md
  docs/GITHUB_ISSUE_SITE_GENERATOR_SPLIT.md
  docs/MARKDOWN_GENERATOR_DEPLOYMENT.md
  docs/QUICKSTART_SITE_GENERATOR_SPLIT.md
  docs/README_IMPLEMENTATION_PACKAGE.md
  docs/SITE_GENERATOR_ARCHITECTURE_DECISION.md
  docs/SITE_GENERATOR_SPLIT_IMPLEMENTATION_PLAN.md
  infra/container_app_markdown_generator.tf
  infra/container_apps_keda_auth.tf
  infra/storage.tf
  pyrightconfig.json
Due: terraform-quality, semgrep

feat: add MARKDOWN_GENERATOR_READY.md documentation for deployment readiness
  docs/MARKDOWN_GENERATOR_READY.md
Due: none

fix: update test to handle ENVIRONMENT variable set by CI/CD
  containers/markdown-generator/tests/test_config.py
Due: semgrep

fix: add production stage name to Dockerfile
  containers/markdown-generator/Dockerfile
Due: none

fix: update Dockerfile paths for monorepo build context
  containers/markdown-generator/Dockerfile
Due: none

docs: add comprehensive STATUS.md and COMMIT_PLAN.md
  COMMIT_PLAN.md
  STATUS.md
Due: none

feat(collector): implement fanout pattern for 1:1 topic-to-message processing
  containers/content-collector/collection_storage_utils.py
  containers/content-collector/service_logic.py
  containers/content-collector/tests/test_coverage_improvements.py
  containers/content-collector/tests/test_topic_fanout.py
  containers/content-collector/topic_fanout.py
Due: semgrep

refactor(processor): remove legacy batch processing code and old docs
  containers/content-processor/IMPORT_STANDARDS.md
  containers/content-processor/METADATA_GENERATION_PHASE1_COMPLETE.md
  containers/content-processor/deploy_azure.sh
  containers/content-processor/endpoints/storage_queue_router.py
  containers/content-processor/models.py
  containers/content-processor/processor.py
  containers/content-processor/requirements.txt
  containers/content-processor/services/__init__.py
  containers/content-processor/services/mock_service.py
  containers/content-processor/services/openai_service.py
  containers/content-processor/services/processor_storage.py
  containers/content-processor/services/topic_discovery.py
  containers/content-processor/test_local.sh
  containers/content-processor/tests/test_api_endpoints.py
  containers/content-processor/tests/test_article_metadata.py
  containers/content-processor/tests/test_azure_integration.py
  containers/content-processor/validation_results_1756978440.json
Due: semgrep

feat(processor): add pure function modules for functional architecture
  containers/content-processor/api_contracts.py
  containers/content-processor/blob_operations.py
  containers/content-processor/cost_calculator.py
  containers/content-processor/metadata.py
  containers/content-processor/openai_operations.py
  containers/content-processor/provenance.py
  containers/content-processor/queue_operations.py
  containers/content-processor/ranking.py
  containers/content-processor/seo.py
Due: semgrep

refactor(processor): update service layer for functional architecture
  containers/content-processor/services/queue_coordinator.py
  containers/content-processor/services/session_tracker.py
Due: semgrep

feat(processor): refactor core logic for fanout pattern
  containers/content-processor/requirements-pinned.txt
Due: none

test(processor): add comprehensive test suite for functional architecture
  containers/content-processor/tests/conftest.py
  containers/content-processor/tests/test_blob_operations.py
  containers/content-processor/tests/test_cost_pure_functions.py
  containers/content-processor/tests/test_data_contracts.py
  containers/content-processor/tests/test_e2e_workflow.py
  containers/content-processor/tests/test_input_formats.py
  containers/content-processor/tests/test_metadata_pure_functions.py
  containers/content-processor/tests/test_openai_operations.py
  containers/content-processor/tests/test_output_formats.py
  containers/content-processor/tests/test_provenance_pure_functions.py
  containers/content-processor/tests/test_queue_operations.py
  containers/content-processor/tests/test_ranking_pure_functions.py
  containers/content-processor/tests/test_seo_pure_functions.py
  containers/content-processor/tests/test_storage_queue_router.py
Due: semgrep

test: add integration tests for fanout architecture
  tests/integration/test_collector_fanout.py
  tests/integration/test_e2e_fanout_flow.py
  tests/integration/test_processor_queue_handling.py
Due: semgrep

chore: clean up root directory and archive temporary docs
  docs/ARCHITECTURE_DECISION_DEPENDENCY_INJECTION.md
  docs/ARCHITECTURE_PIVOT.md
  docs/ARCHITECTURE_PIVOT_COMPLETE.md
  docs/ARCHITECTURE_PIVOT_SESSION.md
  docs/ASYNC_CLIENT_MIGRATION.md
  docs/ASYNC_MIGRATION_SESSION_SUMMARY.md
  docs/BEFORE_AFTER_DEPENDENCY_INJECTION.md
  docs/CHECKLIST_UPDATE_SUMMARY.md
  docs/CLEAN_REBUILD_PLAN.md
  docs/COMMIT_SUCCESS_SUMMARY.md
  docs/CONTENT_PROCESSOR_ANALYSIS_SUMMARY.md
  docs/CONTENT_PROCESSOR_ARCHITECTURE_AUDIT.md
  docs/CONTENT_PROCESSOR_REFACTORING_GUIDE.md
  docs/CONTENT_PROCESSOR_VISUAL_DIAGRAMS.md
  docs/FILENAME_MISMATCH_BUG.md
  docs/IMPORT_STANDARDS.md
  docs/METADATA_GENERATION_PHASE1_COMPLETE.md
  docs/PHASE3_COMPLETE.md
  docs/PHASE_2_FANOUT_COMPLETE.md
  docs/PHASE_3_INTEGRATION_TESTING_PLAN.md
  docs/PHASE_3_QUICK_START.md
  docs/PRE_COMMIT_SUMMARY.md
  docs/QA_FINDINGS.md
  docs/REFACTORING_BASELINE_ESTABLISHED.md
  docs/REFACTORING_CHECKLIST.md
  docs/REFACTORING_READINESS_ASSESSMENT.md
  docs/REPROCESSING_MONITORING_GUIDE.md
  docs/REPROCESS_ENDPOINT_IMPLEMENTATION.md
  docs/REPROCESS_FLOW_ANALYSIS.md
  docs/REPROCESS_FLOW_VERIFIED.md
  docs/REPROCESS_REFACTORING_SUMMARY.md
  docs/ROADMAP.md
  scripts/deploy_azure.sh
  scripts/test_local.sh
Due: none

fix(ci): make container app discovery dynamic for sync action
  .github/actions/sync-container-versions/action.yml
Due: semgrep

docs: add comprehensive push summary and deployment checklist
  PUSH_SUMMARY.md
Due: none

fix: address PR review comments
  containers/content-processor/tests/test_storage_queue_router.py
  docs/CHECKLIST_UPDATE_SUMMARY.md
  docs/PHASE_2_FANOUT_COMPLETE.md
Due: semgrep

chore: add exemptions for acceptable large files in detector
  .github/workflows/large-file-detector.yml
Due: actionlint, semgrep

chore(deps): update content-processor dependencies to latest versions
  containers/content-processor/requirements-pinned.txt
  containers/content-processor/requirements.txt
  scripts/test-azure-ad-auth.sh
  scripts/test_reddit_creds.py
Due: semgrep

fix(keda): remove forced end time from collector cron scaler
  TODO.md
  docs/KEDA_CRON_FIX.md
  infra/container_app_collector.tf
Due: terraform-quality, semgrep

docs: add comprehensive Azure-based pipeline verification tools
  PIPELINE_VERIFICATION_PLAN.md
  docs/POST_REFACTOR_VERIFICATION.md
  docs/VERIFICATION_QUICK_REFERENCE.md
  scripts/verify-pipeline.sh
Due: none

fix(keda): add required end parameter with 30-minute window
  TODO.md
  docs/KEDA_CRON_FIX.md
  infra/container_app_collector.tf
Due: terraform-quality, semgrep

fix: Remove time_next_visible from send_message response
  libs/storage_queue_client.py
Due: semgrep

fix: Correct Azure SDK queue message attribute names
  libs/storage_queue_client.py
Due: semgrep

fix: Correct markdown-gen queue name to match processor output
  infra/storage.tf
Due: terraform-quality, semgrep

refactor: Use environment variables for queue configuration + fix all Pylance type errors
  VERIFICATION_SESSION_2025-10-09.md
  containers/content-processor/endpoints.py
  containers/content-processor/endpoints/processing.py
  containers/content-processor/endpoints/storage_queue_router.py
  docs/KEDA_CRON_DEPLOYMENT_LOG.md
  infra/container_app_processor.tf
  infra/storage.tf
Due: terraform-quality, semgrep

build: Force container rebuild with version bump to deploy queue config
  containers/content-collector/main.py
  containers/content-processor/main.py
  containers/markdown-generator/main.py
Due: semgrep

refactor: Queue configuration from containers not libraries
  containers/content-processor/processor.py
  containers/content-processor/services/queue_coordinator.py
  libs/queue_triggers.py
Due: semgrep

refactor: Use PORT environment variable for all containers
  containers/content-collector/main.py
  containers/content-processor/main.py
  containers/markdown-generator/main.py
  infra/container_app_collector.tf
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
Due: terraform-quality, semgrep

feat: Add background queue polling to markdown-generator
  containers/markdown-generator/main.py
Due: semgrep

fix: Add libs directory to markdown-generator container
  containers/markdown-generator/Dockerfile
Due: none

fix: Add aiohttp dependency for async Azure operations
  containers/markdown-generator/requirements.txt
Due: none

fix: Correct message handler to use queue_message payload
  containers/markdown-generator/main.py
Due: semgrep

fix: Use correct method name process_article instead of process_file
  containers/markdown-generator/main.py
Due: semgrep
