Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

feat: Complete Service Bus content pipeline implementation
  .github/workflows/content-collection.yml
  containers/content-collector/endpoints/keda_router.py
  containers/content-collector/endpoints/servicebus_router.py
  containers/content-collector/enhanced_health.py
  containers/content-collector/service_logic.py
  containers/content-processor/endpoints/servicebus_router.py
  containers/content-processor/enhanced_health.py
  containers/site-generator/enhanced_health.py
  containers/site-generator/servicebus_router.py
  libs/keda_dapr_integration.py
  libs/mtls_health.py
  libs/mtls_integration.py
  libs/service_bus_router.py
  scripts/certificate-management.sh
  scripts/deploy-pki-infrastructure.sh
  scripts/pki-certificate-manager.sh
  scripts/quick-mtls-validation.sh
  scripts/test-mtls-integration.sh
  scripts/validate-mtls-implementation.py
  tests/test_mtls_implementation.py
Due: actionlint, semgrep

feat: Update testing infrastructure and clean up configuration
  .flake8
  .github/workflows/test-suite.yml
  .secrets.baseline
  Makefile
  config/.flake8
  conftest.py
  containers/content-collector/discovery.py
  containers/content-collector/endpoints/servicebus_router.py
  containers/content-collector/keyvault_client.py
  containers/content-processor/endpoints/servicebus_router_new.py
  containers/site-generator/servicebus_router_new.py
  containers/site-generator/tests/conftest.py
  containers/site-generator/tests/test_api_endpoints.py
  containers/site-generator/tests/test_app_basic.py
  containers/site-generator/tests/test_error_handling.py
  containers/site-generator/tests/test_file_operations.py
  containers/site-generator/tests/test_standardized_api.py
  docs/TESTING_FRAMEWORK_SUMMARY.md
  libs/blob_operations.py
  libs/blob_storage.py
  pyproject.toml
  scripts/code-quality.sh
  scripts/run-tests.sh
  tests/test_async_migration_detection.py
  tests/test_blob_integration_comprehensive.py
  tests/test_blob_storage_actual.py
  tests/test_blob_storage_comprehensive.py
  tests/test_complete_pipeline.py
  tests/test_config.py
  tests/test_functional_pipeline.py
  tests/test_integration_pipeline.py
  tests/test_service_bus_coverage.py
  tests/test_service_bus_coverage_fixed.py
  tests/test_service_bus_routers.py
  tests/test_service_bus_routers_fixed.py
  tests/test_shared_models_comprehensive.py
  tests/test_shared_models_fixed.py
  tests/test_system_integration.py
Due: actionlint, semgrep

fix(ci): optimize pipeline for dependabot PRs
  .github/workflows/cicd-pipeline.yml.backup
  .github/workflows/dependabot-automerge.yml
Due: actionlint, semgrep

remove: Test Suite workflow and backup files
  .github/workflows/cicd-pipeline.yml.backup
  .github/workflows/test-suite.yml
Due: actionlint, semgrep

feat: Complete CI/CD pipeline simplification
  .github/dependabot.yml
  .github/workflows/_disabled/copilot-code-scanning-resolution.yml
  .github/workflows/_disabled/dependabot-auto-label.yml
  .github/workflows/_disabled/dependabot-automerge.yml
  .github/workflows/_disabled/security-auto-resolution.yml
  .github/workflows/cicd-pipeline.yml
  .github/workflows/content-collection.yml
  .secrets.baseline
  CICD_REDESIGN_PLAN.md
  containers/content-processor/conftest.py
  docs/QUICK_START_GUIDE.md
Due: actionlint, semgrep

fix: Temporarily disable detect-secrets pre-commit hook
  .pre-commit-config.yaml
  .secrets.baseline
Due: semgrep

fix: Resolve monorepo import conflicts in container tests
  .github/actions/test-single-container/action.yml
Due: semgrep

fix: Correct dependabot.yml groups configuration
  .github/dependabot.yml
Due: semgrep

fix: Use strict container-scoped PYTHONPATH for isolated testing
  .github/actions/test-single-container/action.yml
Due: semgrep

test: Trigger site-generator CI to validate PYTHONPATH import fix
  containers/site-generator/README.md
Due: none

Fix PYTHONPATH import isolation and standardize yamllint config
  .github/actions/test-single-container/action.yml
  Makefile
Due: semgrep

Test PYTHONPATH fix - trigger CI for site-generator
  containers/site-generator/README.md
Due: none

Convert container jobs to dynamic matrix pattern
  .github/actions/security-containers/action.yml
  .github/actions/sync-container-versions/action.yml
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: trigger CI to validate new dynamic matrix pipeline
  containers/site-generator/main.py
Due: semgrep

test: add note for new dynamic matrix pattern in container jobs
  infra/main.tf
Due: terraform-quality, semgrep

test: single commit container change to validate matrix pattern
  containers/site-generator/main.py
Due: semgrep

test: trigger full matrix pipeline with all container changes
  containers/content-collector/main.py
  containers/content-processor/main.py
  containers/site-generator/main.py
Due: semgrep

fix: add security dependencies to test-containers matrix job
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

Fix content collection workflow: Update resource group names and add manual trigger
  .github/workflows/content-collection.yml
  containers/content-processor/endpoints/__init__.py
Due: actionlint, semgrep

fix(workflows): Use managed identity vars instead of secrets
  .github/workflows/content-collection.yml
Due: actionlint, semgrep

feat(templates): Add web overlap test template to stress-test deduplication
  .github/workflows/content-collection.yml
  collection-templates/README.md
  collection-templates/web-overlap-test.json
Due: actionlint, semgrep

feat: Add deduplication stress testing to content collection workflow
  .github/workflows/content-collection.yml
  Makefile
  collection-templates/default.json
  collection-templates/discovery.json
  collection-templates/tech-news.json
  collection-templates/tech-rss.json
  containers/content-processor/main.py
  infra/container_apps.tf
  infra/main.tf
  infra/outputs.tf
  infra/providers.tf
  infra/variables.tf
  test_message.json
Due: terraform-quality, actionlint, semgrep

fix: Resolve CI/CD failures
  containers/content-processor/endpoints/__init__.py
  infra/main.tf
  infra/outputs.tf
  infra/variables.tf
Due: terraform-quality, semgrep

fix: Fix content-processor router imports to match other containers
  containers/content-processor/endpoints/__init__.py
  containers/content-processor/main.py
Due: semgrep

feat: Restructure content-processor endpoints to match established patterns
  containers/content-processor/config.py
  containers/content-processor/endpoints/__init__.py
  containers/content-processor/endpoints/diagnostics.py
  containers/content-processor/main.py
Due: semgrep

feat(content-processor): standardize configuration and add processing endpoints
  containers/content-processor/endpoints/__init__.py
  containers/content-processor/endpoints/diagnostics.py
  containers/content-processor/endpoints/processing.py
  containers/content-processor/main.py
Due: semgrep

Fix content-processor API test failures
  containers/content-processor/endpoints/diagnostics.py
  containers/content-processor/main.py
  containers/content-processor/tests/test_api_endpoints.py
  containers/content-processor/tests/test_standardized_api.py
Due: semgrep

Fix blob storage async/await issue in content collector
  containers/content-collector/service_logic.py
Due: semgrep

Add comprehensive test coverage for content-collector service_logic.py
  containers/content-collector/tests/test_service_logic.py
Due: semgrep

feat: Implement KEDA auto-polling background service for Service Bus message processing
  .github/agent-instructions.md
  containers/content-collector/main.py
  containers/content-processor/main.py
  containers/site-generator/main.py
  libs/background_poller.py
  tests/test_background_poller.py
Due: semgrep

feat: implement comprehensive queue monitoring and metrics collection
  docs/QUEUE_PROPERTIES_IMPLEMENTATION_SUMMARY.md
  libs/scaling_analyzer.py
  libs/scaling_metrics.py
  libs/service_bus_client.py
  libs/service_bus_router.py
  tests/test_metrics_integration.py
  tests/test_scaling_metrics.py
  tests/test_service_bus_client_queue_properties.py
  tests/test_service_bus_queue_properties.py
Due: semgrep

Fix Service Bus queue properties type safety
  libs/service_bus_client.py
Due: semgrep

Fix KEDA scaling to use Service Bus instead of Storage Queues
  infra/container_apps.tf
Due: terraform-quality, semgrep

Fix Service Bus receiver lifecycle issue causing polling failures
  libs/service_bus_client.py
Due: semgrep

Fix Service Bus polling strategy for existing messages
  libs/service_bus_client.py
Due: semgrep

Fix Service Bus authentication mismatch between KEDA and application
  infra/container_apps.tf
  libs/service_bus_client.py
Due: terraform-quality, semgrep

Update KEDA scaling rules to follow 2.17+ best practices
  infra/container_apps.tf
  libs/service_bus_client.py
Due: terraform-quality, semgrep

Refactor to individual item processing for responsive scaling
  containers/content-collector/service_logic.py
  containers/content-processor/endpoints/servicebus_router.py
  infra/container_apps.tf
Due: terraform-quality, semgrep

Fix tests for individual item processing behavior
  containers/content-collector/tests/test_service_logic.py
  test_individual_processing.py
Due: semgrep

Fix KEDA Service Bus Processing - Deploy Latest Processor Code
  containers/content-collector/tests/test_service_logic.py
  containers/content-processor/Dockerfile
  test_individual_message_sender.py
  test_individual_processing.py
Due: semgrep

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
