Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: '^(.github/.*|.*\.template\.yml)$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs

  # Python code quality using our shared script
  - repo: local
    hooks:
      - id: python-code-quality
        name: Python Code Quality (Black + isort + flake8)
        entry: ./scripts/code-quality.sh
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Terraform formatting and validation
  - repo: local
    hooks:
      - id: terraform-quality
        name: Terraform Quality (Format + Validate)
        entry: ./scripts/terraform-quality.sh
        language: system
        files: '\.tf$'
        pass_filenames: false
        always_run: false
        require_serial: true

  # GitHub Actions linting
  - repo: local
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflows
        entry: ./scripts/actionlint-docker.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
        pass_filenames: true

  # YAML linting (excluding GitHub Actions which are handled above)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: '^\.github/workflows/.*\.ya?ml$'
        args: ['-d', 'relaxed']

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(tests/.*|.*\.lock|.*\.log)$'

  # Semgrep security scanning (blocking)
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep Security Scan
        entry: ./scripts/run-semgrep-precommit.sh
        language: system
        files: '\.(py|tf|yml|yaml|js|ts|json)$'
        pass_filenames: false

# Configuration for ci (optional, for pre-commit.ci service)
ci:
  autoupdate_schedule: weekly
  skip: [python-code-quality, actionlint, terraform-quality, semgrep]  # Skip local hooks on CI

perf: Generate JSON and SARIF in single Semgrep scan (~50% faster)
  scripts/run-semgrep.sh
Due: none

refactor: Make markdown-generator fully async and fix Pylance errors
  containers/markdown-generator/main.py
  containers/markdown-generator/markdown_processor.py
Due: semgrep

Fix markdown-generator tests for async process_article
  containers/markdown-generator/tests/test_outcomes.py
Due: semgrep

perf(containers): Optimize builds with UV + cache mounts + bytecode compilation
  containers/content-collector/Dockerfile
  containers/content-processor/Dockerfile
  containers/markdown-generator/Dockerfile
  docs/CONTAINER_BUILD_OPTIMIZATION.md
Due: none

fix: Replace deprecated datetime.utcnow() with datetime.now(UTC)
  containers/markdown-generator/markdown_processor.py
Due: semgrep

debug: Add logging for blob storage URL construction
  containers/markdown-generator/main.py
Due: semgrep

fix: Rename storage_account_name to azure_storage_account_name to match env var
  containers/markdown-generator/config.py
  containers/markdown-generator/main.py
  containers/markdown-generator/tests/conftest.py
  containers/markdown-generator/tests/test_config.py
Due: semgrep

fix: Close Azure clients properly and use lenient URL validation
  containers/markdown-generator/main.py
  containers/markdown-generator/models.py
Due: semgrep

fix: Use article_content field instead of content in markdown templates
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/tests/conftest.py
  containers/markdown-generator/tests/test_outcomes.py
  containers/markdown-generator/tests/test_templates.py
Due: semgrep

Fix import errors in site-publisher tests
  conftest.py
  containers/site-publisher/__init__.py
  containers/site-publisher/tests/__init__.py
  containers/site-publisher/tests/test_content_downloader.py
  containers/site-publisher/tests/test_hugo_builder.py
  containers/site-publisher/tests/test_site_builder.py
  docs/COMMIT_PLAN.md
  docs/PIPELINE_VERIFICATION_PLAN.md
  docs/PUSH_SUMMARY.md
  docs/SITE_PUBLISHER_DEPLOYMENT_SESSION.md
  docs/VERIFICATION_SESSION_2025-10-09.md
  docs/site-generator-refactor.md
  infra/tfplan
Due: semgrep

fix(site-publisher): Update to golang:1.24-alpine for Hugo 0.151.0 compatibility
  containers/site-publisher/Dockerfile
Due: none

fix(site-publisher): Address Copilot review comments and modernize Pydantic
  containers/site-publisher/config.py
  containers/site-publisher/tests/test_content_downloader.py
  containers/site-publisher/tests/test_site_builder.py
  docs/SITE_PUBLISHER_CHECKLIST.md
  infra/container_app_site_publisher.tf
Due: terraform-quality, semgrep

Add background queue polling to site-publisher for debugging
  containers/site-publisher/app.py
  infra/container_app_site_publisher.tf
Due: terraform-quality, semgrep

Enable background polling for all containers for debugging
  infra/container_app_collector.tf
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
Due: terraform-quality, semgrep

Fix container port configuration and missing dependencies
  containers/site-publisher/requirements.txt
  infra/container_app_collector.tf
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
  infra/variables.tf
Due: terraform-quality, semgrep

Standardize all containers to port 8000
  containers/markdown-generator/Dockerfile
  infra/variables.tf
Due: terraform-quality, semgrep

Fix content-collector crash: add missing aiohttp dependency
  containers/content-collector/requirements.txt
Due: none

Fix content-collector: remove bytecode pre-compilation that deletes source files
  containers/content-collector/Dockerfile
Due: none

Fix KEDA scaling: replace infinite polling with poll-until-empty pattern
  containers/site-publisher/app.py
  infra/container_app_collector.tf
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
Due: terraform-quality, semgrep

Apply poll-until-empty pattern to content-processor and markdown-generator
  containers/content-processor/main.py
  containers/markdown-generator/main.py
Due: semgrep

Fix markdown-gen: Add MARKDOWN_QUEUE_NAME env var
  DEPLOYMENT_ISSUES.md
  infra/container_app_markdown_generator.tf
Due: terraform-quality, semgrep

Fix site-publisher: Remove duplicate https:// in HUGO_BASE_URL
  DEPLOYMENT_ISSUES.md
  infra/container_app_site_publisher.tf
Due: terraform-quality, semgrep

Fix site-publisher: Install Hugo PaperMod theme
  DEPLOYMENT_ISSUES.md
  containers/site-publisher/Dockerfile
Due: none

Update checklist: Document pipeline test results and issues
  docs/SITE_PUBLISHER_CHECKLIST.md
Due: none

feat: Add site-publisher completion signal (Phase 6)
  containers/markdown-generator/main.py
  docs/SITE_PUBLISHER_CHECKLIST.md
  docs/SITE_PUBLISHER_GAP_ANALYSIS.md
Due: semgrep

fix: Address PR review comments
  containers/markdown-generator/main.py
Due: semgrep

feat: Add site-publisher completion signal (Phase 6) (#606)
  containers/markdown-generator/main.py
  docs/SITE_PUBLISHER_CHECKLIST.md
  docs/SITE_PUBLISHER_GAP_ANALYSIS.md
Due: semgrep

Fix: Add activationQueueLength to KEDA scalers for proper scale-to-zero
  check-container-status.sh
  docs/KEDA_SCALE_TO_ZERO_INVESTIGATION.md
  docs/PHASE6_IMPLEMENTATION_COMPLETE.md
  docs/PR606_REVIEW_RESOLUTION.md
  docs/SITE_PUBLISHER_DEPLOYMENT_SUMMARY.md
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
Due: terraform-quality, semgrep

docs: Clarify KEDA queueLength and activationQueueLength parameters
  infra/container_app_processor.tf
Due: terraform-quality, semgrep

Fix: Add activationQueueLength to KEDA scalers for proper scale-to-zero (#607)
  check-container-status.sh
  docs/KEDA_SCALE_TO_ZERO_INVESTIGATION.md
  docs/PHASE6_IMPLEMENTATION_COMPLETE.md
  docs/PR606_REVIEW_RESOLUTION.md
  docs/SITE_PUBLISHER_DEPLOYMENT_SUMMARY.md
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
Due: terraform-quality, semgrep

fix: Add --themesDir flag to Hugo build command
  containers/site-publisher/hugo_builder.py
Due: semgrep

refactor: Address PR review feedback
  containers/site-publisher/hugo_builder.py
  infra/container_app_processor.tf
Due: terraform-quality, semgrep

fix: Add queueLengthStrategy=all to KEDA scalers
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
Due: terraform-quality, semgrep

feat: Add self-termination to containers after queue processing
  containers/content-processor/main.py
  containers/markdown-generator/main.py
  containers/site-publisher/app.py
Due: semgrep

refactor: Extract queue processing logic to separate module
  containers/markdown-generator/main.py
  containers/markdown-generator/queue_processor.py
Due: semgrep

fix: KEDA scale-to-zero and Hugo theme configuration (#608)
  containers/content-processor/main.py
  containers/markdown-generator/main.py
  containers/markdown-generator/queue_processor.py
  containers/site-publisher/app.py
  containers/site-publisher/hugo_builder.py
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
Due: terraform-quality, semgrep

fix: Container shutdown logic now exits on empty queue regardless
  containers/content-processor/main.py
  containers/markdown-generator/queue_processor.py
  containers/site-publisher/app.py
Due: semgrep

revert: Remove os._exit() self-termination - causes Azure to mark containers as failed
  containers/content-processor/main.py
  containers/markdown-generator/queue_processor.py
  containers/site-publisher/app.py
Due: semgrep
