Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: '^(.github/.*|.*\.template\.yml)$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs

  # Python code quality using our shared script
  - repo: local
    hooks:
      - id: python-code-quality
        name: Python Code Quality (Black + isort + flake8)
        entry: ./scripts/code-quality.sh
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Terraform formatting and validation
  - repo: local
    hooks:
      - id: terraform-quality
        name: Terraform Quality (Format + Validate)
        entry: ./scripts/terraform-quality.sh
        language: system
        files: '\.tf$'
        pass_filenames: false
        always_run: false
        require_serial: true

  # GitHub Actions linting
  - repo: local
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflows
        entry: ./scripts/actionlint-docker.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
        pass_filenames: true

  # YAML linting (excluding GitHub Actions which are handled above)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: '^\.github/workflows/.*\.ya?ml$'
        args: ['-d', 'relaxed']

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(tests/.*|.*\.lock|.*\.log)$'

  # Semgrep security scanning (blocking)
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep Security Scan
        entry: ./scripts/run-semgrep-precommit.sh
        language: system
        files: '\.(py|tf|yml|yaml|js|ts|json)$'
        pass_filenames: false

# Configuration for ci (optional, for pre-commit.ci service)
ci:
  autoupdate_schedule: weekly
  skip: [python-code-quality, actionlint, terraform-quality, semgrep]  # Skip local hooks on CI

Fix: Add missing decorators and config to site-publisher tests
  containers/site-publisher/tests/test_site_builder.py
Due: semgrep

Remove Azure Container Registry references for cost efficiency
  .github/actions/README.md
  docs/MARKDOWN_YAML_BUG_FIX.md
  docs/azure-oidc-setup.md
  scripts/deploy-containers.sh
Due: none

docs: Production verification of Phase 3 implementations (Oct 17)
  docs/PRODUCTION_VERIFICATION_SUMMARY.md
  docs/SITE_GENERATION_ISSUES.md
Due: none

docs: Update README with Phase 3 production verification status
  README.md
Due: none

refactor: Flatten blob storage to articles/YYYY-MM-DD/slug format
  containers/content-processor/core/processor_operations.py
  containers/content-processor/tests/test_article_paths.py
  containers/content-processor/tests/test_blob_utils.py
  containers/content-processor/tests/test_e2e_article_paths.py
  containers/content-processor/utils/__init__.py
  containers/content-processor/utils/blob_utils.py
  docs/CONTAINER_STRUCTURE_REFACTORING.md
Due: semgrep

docs: Update documentation to reflect Phase 3a completion
  STATUS.md
  TODO.md
Due: none

fix(telemetry): Add missing azure-monitor-opentelemetry dependency and setup Log Analytics
  containers/content-collector/requirements.txt
  containers/content-processor/requirements.txt
  containers/markdown-generator/requirements.txt
  docs/LOG_ANALYTICS_ISSUES.md
  docs/LOG_ANALYTICS_QUICK_REF.md
  docs/TELEMETRY_FIX_DEPLOYMENT.md
  libs/monitoring/appinsights.py
  scripts/verify-telemetry.sh
Due: semgrep

fix: Track markdown file creation, not message processing
  containers/markdown-generator/main.py
  containers/markdown-generator/markdown_processor.py
  containers/markdown-generator/models.py
  containers/markdown-generator/queue_processor.py
  containers/site-publisher/app.py
  docs/KEDA_TUNING_REFERENCE.md
  docs/MARKDOWN_GENERATOR_REBUILD_IMPLEMENTATION_COMPLETE.md
  docs/MARKDOWN_GENERATOR_REBUILD_INVESTIGATION.md
  docs/OPTIMIZATION_SESSION_SUMMARY.md
  docs/PIPELINE_OPTIMIZATION_PLAN.md
  docs/QUICK_FIX_REFERENCE.md
  docs/SESSION_SUMMARY_20251018.md
  docs/STREAMING_ARCHITECTURE_DIAGRAM.md
  docs/TELEMETRY_DEPLOYMENT_COMPLETE.md
Due: semgrep

docs: Clean up site-publisher documentation
  containers/site-publisher/docs/BACKUP_ROLLBACK_COMPLETE.md
  containers/site-publisher/docs/CODE_QUALITY_REPORT.md
  containers/site-publisher/docs/COVERAGE_REPORT.md
  containers/site-publisher/docs/FILE_SPLIT_SUMMARY.md
  containers/site-publisher/docs/PHASE1_COMPLETE.md
  containers/site-publisher/docs/PHASE2_COMPLETE.md
  containers/site-publisher/docs/PHASE4_TESTING_PROGRESS.md
  containers/site-publisher/docs/SECURITY_SCAN_REPORT.md
Due: none

fix: Implement full Hugo rebuild and stale file cleanup
  containers/site-publisher/app.py
  containers/site-publisher/hugo_builder.py
Due: semgrep

Add Unsplash API rate limiting with exponential backoff
  containers/markdown-generator/main.py
  containers/markdown-generator/models.py
  containers/markdown-generator/services/image_service.py
  containers/markdown-generator/services/unsplash_client.py
  docs/DEPLOYMENT_ISSUES.md
  libs/monitoring/appinsights.py
Due: semgrep

Tune KEDA scale rules for improved throughput and responsiveness
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
  infra/container_apps_keda_auth.tf
Due: terraform-quality, semgrep

docs: Add comprehensive message dequeue timing documentation
  docs/MESSAGE_DEQUEUE_CODE_AUDIT.md
  docs/MESSAGE_DEQUEUE_IMPLEMENTATION_PLAN.md
  docs/MESSAGE_DEQUEUE_INDEX.md
  docs/MESSAGE_DEQUEUE_QUICK_REFERENCE.md
  docs/MESSAGE_DEQUEUE_SUMMARY.md
  docs/MESSAGE_DEQUEUE_VISUAL_GUIDE.md
Due: none

docs: Add comprehensive message dequeue timing implementation plan
  MESSAGE_DEQUEUE_IMPLEMENTATION_READY.md
Due: none

fix: Move cooldown-period into scale-rule-metadata for KEDA authentication
  infra/container_apps_keda_auth.tf
Due: terraform-quality, semgrep

docs: Add Terraform KEDA authentication fix documentation
  docs/TERRAFORM_KEDA_AUTH_FIX.md
Due: none

Homepage: Pagination and PaperMod defaults
  containers/site-publisher/hugo-config/assets/css/custom.css
  containers/site-publisher/hugo-config/config.toml
  containers/site-publisher/hugo-config/layouts/index.html
  containers/site-publisher/hugo-config/layouts/partials/post_card.html
Due: none

docs: Add homepage redesign documentation and update optimization plan
  docs/HOMEPAGE_REDESIGN_CODE_CHANGES.md
  docs/HOMEPAGE_REDESIGN_COMPLETED.md
  docs/HOMEPAGE_REDESIGN_IMPLEMENTATION.md
  docs/HOMEPAGE_REDESIGN_PLAN.md
  docs/HOMEPAGE_REDESIGN_README.md
  docs/HOMEPAGE_REDESIGN_SUMMARY.md
  docs/HOMEPAGE_REDESIGN_VISUAL_GUIDE.md
  docs/KEDA_CLI_SYNTAX_FIX.md
  docs/PIPELINE_OPTIMIZATION_PLAN.md
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
  infra/container_apps_keda_auth.tf
Due: terraform-quality, semgrep

Fix GH Actions #1166: Remove invalid cooldownPeriod from KEDA scale rule metadata
  docs/GH_ACTIONS_1166_RESOLUTION.md
  docs/KEDA_COOLDOWN_FIX.md
  docs/TERRAFORM_KEDA_ANALYSIS.md
  infra/container_app_markdown_generator.tf
  infra/container_app_processor.tf
  infra/container_app_site_publisher.tf
Due: terraform-quality, semgrep

fix: Resolve deployment error by removing invalid cooldownPeriod from KEDA scale rule metadata
  FIX_COMPLETED_GH_1166.md
Due: none

chore: Trigger container rebuild with latest code
  containers/content-collector/main.py
  containers/content-processor/main.py
  containers/markdown-generator/main.py
  containers/site-publisher/app.py
  scripts/trigger_full_rebuild.py
Due: semgrep

fix: Update list.html to use Hugo summary rendering instead of deleted post_card partial
  containers/site-publisher/hugo-config/layouts/_default/list.html
Due: none

feat: Add summary.html template for article rendering on homepage
  containers/site-publisher/hugo-config/layouts/_default/summary.html
Due: none

refactor: Remove custom layouts to use PaperMod theme defaults
  containers/site-publisher/hugo-config/layouts/_default/list.html
  containers/site-publisher/hugo-config/layouts/_default/single.html
Due: none

Add comprehensive image support to markdown generator and Hugo theme
  containers/markdown-generator/templates/default.md.j2
  containers/markdown-generator/tests/conftest.py
  containers/markdown-generator/tests/test_templates.py
  containers/site-publisher/hugo-config/assets/css/custom.css
  containers/site-publisher/hugo-config/layouts/_default/single.html
  docs/HUGO_THEME_IMAGES_ANALYSIS.md
  test_image_pipeline.py
Due: semgrep

fix: Update test_outcomes.py to use pre-generated frontmatter
  containers/markdown-generator/tests/test_outcomes.py
Due: semgrep

refactor: Make delete optional in rebuild trigger script
  scripts/trigger_full_rebuild.py
Due: semgrep

feat: Add markdown rebuild script for latest articles
  scripts/trigger_markdown_rebuild.py
Due: semgrep

feat: quality gate modular architecture with comprehensive tests
  QUALITY_GATE_IMPLEMENTATION.md
  QUALITY_GATE_README.md
  QUALITY_GATE_TESTING.md
  QUALITY_GATE_TESTING_COMPLETE.md
  containers/content-collector/quality_config.py
  containers/content-collector/quality_dedup.py
  containers/content-collector/quality_detectors.py
  containers/content-collector/quality_gate.py
  containers/content-collector/quality_scoring.py
  containers/content-collector/tests/test_quality_config.py
  containers/content-collector/tests/test_quality_dedup.py
  containers/content-collector/tests/test_quality_detectors.py
  containers/content-collector/tests/test_quality_gate.py
  containers/content-collector/tests/test_quality_scoring.py
  docs/DUAL_IMAGE_SOURCE_PROPOSAL.md
Due: semgrep

Fix markdown-generator message format for site-publisher compatibility
  containers/markdown-generator/queue_processor.py
  docs/MARKDOWN_GENERATOR_MESSAGE_FORMAT_FIX.md
Due: semgrep

fix: Reduce queue visibility timeout to fix markdown-generator backlog
  TODO.md
  containers/markdown-generator/queue_processor.py
  docs/QUEUE_BACKLOG_FIX.md
  libs/queue_client.py
Due: semgrep

WIP: Cleanup deprecated collector files and add import fixes
  containers/content-collector/collectors/adaptive_integration.py
  containers/content-collector/collectors/adaptive_strategy.py
  containers/content-collector/collectors/base.py
  containers/content-collector/collectors/blob_metrics_storage.py
  containers/content-collector/collectors/blob_persistence_demo.py
  containers/content-collector/collectors/collection_monitor.py
  containers/content-collector/collectors/factory.py
  containers/content-collector/collectors/mastodon.py
  containers/content-collector/collectors/reddit.py
  containers/content-collector/collectors/source_strategies.py
  containers/content-processor/core/processing_operations.py
  containers/content-processor/core/processor.py
  containers/content-processor/core/processor_operations.py.backup
  containers/content-processor/utils/__init__.py
  containers/content-processor/utils/rate_limiter.py
  containers/markdown-generator/tests/test_config.py
Due: semgrep

fix: Add proper type hints and use specific ImportError in rate_limiter fallback
  containers/content-processor/utils/rate_limiter.py
Due: semgrep

fix: Use proper URL parsing to prevent domain bypass attacks (CodeQL py/incomplete-url-substring-sanitization)
  containers/content-collector/quality_config.py
  containers/content-collector/tests/test_quality_config.py
Due: semgrep

fix: Remove deprecated collector files and disable refactoring tests
  containers/content-collector/content_processing.py
  containers/content-collector/content_processing_simple.py
  containers/content-collector/endpoints/__init__.py
  containers/content-collector/endpoints/diagnostics.py
  containers/content-collector/main.py
  containers/content-collector/source_collectors.py
  containers/content-collector/tests/endpoints/test_api_standardization.py
  containers/content-collector/tests/test_coverage_improvements.py
  containers/content-collector/tests/test_integration_simple.py
  containers/content-collector/tests/test_simplified_collectors.py
  containers/content-collector/verify_fixes.py
Due: semgrep

test: Create Phase 1 tests for streaming collector refactor (50+ test cases)
  containers/content-collector/tests/PHASE1_TESTS.md
  containers/content-collector/tests/test_collectors_stream.py
  containers/content-collector/tests/test_rate_limit.py
  containers/content-collector/tests/test_streaming_pipeline.py
Due: semgrep

test: Focused tests for rate limiting 429 handling and async patterns
  containers/content-collector/collectors/collect.py
  containers/content-collector/collectors/standardize.py
  containers/content-collector/pipeline/__init__.py
  containers/content-collector/pipeline/dedup.py
  containers/content-collector/pipeline/rate_limit.py
  containers/content-collector/pipeline/stream.py
  containers/content-collector/tests/test_async_patterns.py
  containers/content-collector/tests/test_collectors_stream.py
  containers/content-collector/tests/test_rate_limit_429.py
  containers/content-collector/tests/test_streaming_pipeline.py
  docs/COLLECTOR_REFACTOR_STATUS.md
  docs/COLLECTOR_STREAMING_REFACTOR.md
  infra/container_apps.tf
  infra/main.tf
Due: terraform-quality, semgrep

test: Remove old rate limiter tests, keep focused 429 tests
  containers/content-collector/tests/test_rate_limit.py
Due: semgrep

fix: Use proper Response wrapper instead of setting aiohttp response attributes
  containers/content-collector/collectors/collect.py
Due: semgrep
