Repository Hardcoreprawn/ai-content-farm: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-quality, actionlint, semgrep

terraform-quality:
  name: Terraform Quality (Format + Validate)
  entry: ./scripts/terraform-quality.sh
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: ./scripts/actionlint-docker.sh
  language: system
  pass_filenames: true

semgrep:
  name: Semgrep Security Scan
  entry: ./scripts/run-semgrep-precommit.sh
  language: system
  pass_filenames: false

feat: Complete Phase 1 Foundation implementation
  CONTENT_PROCESSOR_REFACTOR_PLAN.md
  containers/content-processor/src/config.py
  containers/content-processor/src/libs/__init__.py
  containers/content-processor/src/libs/blob_auth.py
  containers/content-processor/src/libs/blob_mock.py
  containers/content-processor/src/libs/blob_operations.py
  containers/content-processor/src/libs/blob_storage.py
  containers/content-processor/src/libs/blob_utils.py
  containers/content-processor/src/libs/config_base.py
  containers/content-processor/src/libs/pyproject.toml
  containers/content-processor/src/libs/secure_error_handler.py
  containers/content-processor/src/libs/shared_models.py
  containers/content-processor/src/libs/standard_endpoints.py
  containers/content-processor/src/libs/standard_tests.py
  containers/content-processor/src/libs/test_shared_models.py
  containers/content-processor/src/libs/test_shared_models_clean.py
  containers/content-processor/src/libs/test_shared_models_fastapi_native.py
  containers/content-processor/src/main.py
  containers/content-processor/tests/test_standardized_api.py
Due: semgrep

fix: update test suite to match standardized API endpoints
  containers/content-processor/tests/test_api_endpoints.py
  containers/content-processor/tests/test_standardized_api.py
Due: semgrep

feat: extract container sync logic into reusable action
  .github/actions/sync-container-images/action.yml
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

fix(cicd): handle container app not found scenario gracefully
  .github/actions/sync-container-images/action.yml
Due: semgrep

refactor: consolidate file structure and implement proper monorepo layout
  containers/content-processor/config.py
  containers/content-processor/main.py
  containers/content-processor/src/config.py
  containers/content-processor/src/libs/__init__.py
  containers/content-processor/src/libs/blob_auth.py
  containers/content-processor/src/libs/blob_mock.py
  containers/content-processor/src/libs/blob_operations.py
  containers/content-processor/src/libs/blob_storage.py
  containers/content-processor/src/libs/blob_utils.py
  containers/content-processor/src/libs/config_base.py
  containers/content-processor/src/libs/pyproject.toml
  containers/content-processor/src/libs/secure_error_handler.py
  containers/content-processor/src/libs/shared_models.py
  containers/content-processor/src/libs/standard_endpoints.py
  containers/content-processor/src/libs/standard_tests.py
  containers/content-processor/src/libs/test_shared_models.py
  containers/content-processor/src/libs/test_shared_models_clean.py
  containers/content-processor/src/libs/test_shared_models_fastapi_native.py
  containers/content-processor/src/main.py
  containers/content-processor/src/main_clean.py
  containers/content-processor/src/main_full.py
  containers/content-processor/src/main_simple.py
  containers/content-processor/src/services/mock_service.py
  containers/content-processor/src/services/openai_service.py
  containers/content-processor/src/services/processor_factory.py
  containers/content-processor/tests/test_api_endpoints.py
  libs/test_shared_models_clean.py
Due: semgrep

fix(content-collector): standardize models and API structure
  CONTENT_PROCESSOR_REFACTOR_PLAN.md
  containers/content-collector/models.py
  containers/content-collector/tests/test_models.py
  containers/content-collector/tests/test_source_collectors.py
Due: semgrep

fix(content-processor): standardize file structure by removing src/ subdirectory
  containers/content-processor/Dockerfile
  containers/content-processor/demo.py
  containers/content-processor/main.py
  containers/content-processor/processing_service.py
  containers/content-processor/services/__init__.py
  containers/content-processor/services/mock_service.py
  containers/content-processor/services/openai_service.py
  containers/content-processor/services/processor_factory.py
  containers/content-processor/src/external_api_client.py
Due: semgrep

fix: site-generator test assertion for health endpoint failure
  containers/site-generator/tests/test_app_basic.py
Due: semgrep

ci: update CI/CD to exclude deprecated containers from testing
  .github/actions/collect-test-results/action.yml
  .github/actions/deploy-to-azure/action.yml
  .github/actions/smart-deploy/action.yml
  .github/workflows/cicd-pipeline.yml
  scripts/discover-containers.sh
Due: actionlint, semgrep

fix: repair dependabot.yml YAML syntax after content-generator removal
  .github/dependabot.yml
  .github/workflows/cicd-pipeline.yml
  README.md
  containers/deprecated/content-generator/Dockerfile
  containers/deprecated/content-generator/Dockerfile.multitier
  containers/deprecated/content-generator/Dockerfile.production
  containers/deprecated/content-generator/README.md
  containers/deprecated/content-generator/ai_clients.py
  containers/deprecated/content-generator/blob_events.py
  containers/deprecated/content-generator/config.py
  containers/deprecated/content-generator/conftest.py
  containers/deprecated/content-generator/content_generators.py
  containers/deprecated/content-generator/health.py
  containers/deprecated/content-generator/main.py
  containers/deprecated/content-generator/models.py
  containers/deprecated/content-generator/pyproject.toml
  containers/deprecated/content-generator/requirements-prod.txt
  containers/deprecated/content-generator/requirements-test.txt
  containers/deprecated/content-generator/requirements-unique.txt
  containers/deprecated/content-generator/requirements.txt
  containers/deprecated/content-generator/service_logic.py
  containers/deprecated/content-generator/tests/conftest.py
  containers/deprecated/content-generator/tests/contracts/__init__.py
  containers/deprecated/content-generator/tests/contracts/azure_openai_contract.py
  containers/deprecated/content-generator/tests/contracts/blob_storage_contract.py
  containers/deprecated/content-generator/tests/contracts/claude_contract.py
  containers/deprecated/content-generator/tests/contracts/openai_contract.py
  containers/deprecated/content-generator/tests/mocks.py
  containers/deprecated/content-generator/tests/test_api.py
  containers/deprecated/content-generator/tests/test_api_endpoints.py
  containers/deprecated/content-generator/tests/test_azure_integration.py
  containers/deprecated/content-generator/tests/test_azure_openai.py
  containers/deprecated/content-generator/tests/test_comprehensive.py
  containers/deprecated/content-generator/tests/test_content_generator.py
  containers/deprecated/content-generator/tests/test_content_generator_service.py
  containers/deprecated/content-generator/tests/test_integration.py
  containers/deprecated/content-generator/tests/test_openai_integration.py
  containers/deprecated/content-generator/tests/test_service.py
  containers/deprecated/content-generator/tests/test_standardized_api.py
  scripts/discover-containers.sh
Due: actionlint, semgrep

fix: pipeline container detection to ignore deleted containers
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

Trigger CI checks - debugging CodeQL issue
  temp-trigger-ci.txt
Due: none

Fix content-processor import issues and standardize API
  .github/workflows/cicd-pipeline.yml
  containers/content-processor/demo.py
  containers/content-processor/main.py
  containers/content-processor/main_clean.py
  containers/content-processor/main_old.py
  containers/content-processor/validate_api.py
  scripts/test_content_processor.py
Due: actionlint, semgrep

fix: pipeline container detection to ignore deleted containers
  .secrets.baseline
  containers/content-collector/keyvault_client.py
Due: semgrep

Clean up temporary CI trigger file
  temp-trigger-ci.txt
Due: none

Fix 504 timeout on health endpoints - addresses #415
  containers/site-generator/main.py
  containers/site-generator/site_generator.py
  scripts/test-site-generator-health.py
Due: semgrep

Connect real Azure OpenAI to content generation endpoints - addresses #417
  .secrets.baseline
  containers/content-processor/content_generation.py
  docs/QUICK_START_GUIDE.md
  docs/SYSTEM_ARCHITECTURE.md
Due: semgrep

Standardize API endpoints: Remove legacy /api/ prefixes
  containers/content-collector/main.py
  containers/site-generator/main.py
  scripts/test-end-to-end-pipeline.py
Due: semgrep

feat(testing): Add comprehensive end-to-end pipeline testing for Issue #416
  scripts/test-end-to-end-pipeline.py
Due: semgrep

Fix site-generator health check timeout - addresses #416
  containers/site-generator/main.py
  containers/site-generator/site_generator.py
  libs/blob_storage.py
Due: semgrep

trigger: Deploy health check timeout fixes
  containers/site-generator/main.py
Due: semgrep

Fix site-generator imports and API routing
  containers/site-generator/main.py
  containers/site-generator/tests/test_api_endpoints.py
Due: semgrep

Fix site-generator test endpoints and error handling
  containers/site-generator/main.py
  containers/site-generator/tests/test_error_handling.py
Due: semgrep

Fix site-generator endpoints to use normalized root paths
  containers/site-generator/main.py
  containers/site-generator/tests/test_api_endpoints.py
  containers/site-generator/tests/test_error_handling.py
Due: semgrep

fix: resolve site-generator Azure deployment issues
  .github/agent-instructions.md
  README.md
  TODO.md
  containers/site-generator/Dockerfile
  containers/site-generator/README.md
  containers/site-generator/config.py
  containers/site-generator/main.py
  containers/site-generator/tests/test_api_endpoints.py
  containers/site-generator/tests/test_app_basic.py
  containers/site-generator/tests/test_error_handling.py
  libs/standard_endpoints.py
  pytest.ini
Due: semgrep

Fix: Add missing azure-identity dependency to site-generator
  containers/site-generator/requirements.txt
Due: none

refactor: Clean up Docker architecture and ensure consistency
  .github/actions/build-base-images/action.yml
  .github/actions/deploy-containers/action.yml
  .github/workflows/cicd-pipeline.yml
  containers/base/Dockerfile.common
  containers/base/Dockerfile.multitier
  containers/base/Dockerfile.optimized-template
  containers/base/docker-compose.ab-testing.yml
  containers/base/example-requirements-unique.txt
  containers/base/example-service.Dockerfile
  containers/base/example-simplified-dockerfile
  containers/base/implementation-roadmap.md
  containers/base/requirements-core.txt
  containers/base/requirements-data.txt
  containers/base/requirements-scheduler.txt
  containers/base/requirements-web.txt
  containers/base/strategy-proposal.md
  containers/content-processor/Dockerfile.production
  requirements-dev.txt
  tests/test_container_dependencies.py
  tests/test_docker_consistency.py
Due: actionlint, semgrep

fix: Integrate Docker consistency tests into test matrix
  .github/actions/test-single-container/action.yml
  .github/workflows/cicd-pipeline.yml
  .secrets.baseline
  tests/test_container_dependencies.py
Due: actionlint, semgrep

chore: Bump site-generator version to trigger CI/CD pipeline test
  containers/site-generator/main.py
Due: semgrep

fix: Make Docker consistency validation a proper quality gate
  .github/actions/test-single-container/action.yml
  .github/workflows/cicd-pipeline.yml
  .secrets.baseline
Due: actionlint, semgrep

chore: Version bump all containers for full deployment test
  .github/actions/test-single-container/action.yml
  .github/workflows/cicd-pipeline.yml
  .secrets.baseline
  containers/content-collector/main.py
  containers/content-processor/main.py
  containers/site-generator/main.py
Due: actionlint, semgrep

chore: Bump version numbers for content collector, processor, and site generator
  containers/content-collector/main.py
  containers/content-processor/main.py
  containers/site-generator/main.py
Due: semgrep

Fix Reddit collection issue #425 and refactor endpoints #422
  containers/content-collector/endpoints/__init__.py
  containers/content-collector/endpoints/collections.py
  containers/content-collector/endpoints/diagnostics.py
  containers/content-collector/endpoints/discoveries.py
  containers/content-collector/endpoints/sources.py
  containers/content-collector/main.py
  containers/content-collector/models.py
Due: semgrep

refactor: Remove singleton patterns and modernize test suite for multi-source architecture
  containers/content-collector/endpoints.py
  containers/content-collector/endpoints/collections.py
  containers/content-collector/endpoints/diagnostics.py
  containers/content-collector/tests/conftest.py
  containers/content-collector/tests/test_api_compliance.py
Due: semgrep

feat: Add Azure Logic App scheduler for automated content collection
  TODO.md
  docs/SCHEDULER_DESIGN.md
  docs/SCHEDULER_GITHUB_ISSUES.md
  docs/SCHEDULER_IMPLEMENTATION.md
  docs/SCHEDULER_PHASE1_COMPLETE.md
  docs/scheduler/logic-app-workflow.json
  docs/scheduler/topic-configuration.md
  infra/outputs.tf
  infra/scheduler.tf
  scripts/scheduler/configure-topics.sh
  scripts/scheduler/deploy-workflow.sh
  scripts/scheduler/test-scheduler.sh
Due: terraform-quality, semgrep

fix: Remove build-containers dependency from terraform deployment
  .github/workflows/cicd-pipeline.yml
Due: actionlint, semgrep

test: Trigger infrastructure deployment pipeline
  infra/scheduler.tf
Due: terraform-quality, semgrep

feat: Azure Logic App scheduler MVP deployment success
  TODO.md
  docs/SCHEDULER_DEPLOYMENT_SUCCESS.md
  docs/scheduler/logic-app-workflow.json
  infra/scheduler.tf
Due: terraform-quality, semgrep

Path conditions:
  terraform-quality: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  semgrep: any of: \.(py|tf|yml|yaml|js|ts|json)$
